.active-pay {
    color: #671627;
    border-top: 2px solid #671627;
    padding-left: 3px;
    padding-right: 3px
}

.pay-page {
    background: linear-gradient(119.38deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(47, 61, 83, 0.8) 22.66%, rgba(17, 48, 62, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%), url(../img/bg-pay.png);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-repeat: no-repeat;
    height: 631px;
    background-size: cover;
    padding-left: 60px;
    font-family: Arial;
    color: #c7dee1;
    font-weight: bold
}

@media only screen and (min-width:1825px) {
    .pay-page {
        padding-left: 195px
    }
}

@media only screen and (max-width:808px) {
    .speak-page {
        background-position-x: center
    }
}

@media screen and (max-width:590px) {
    .pay-page {
        padding-left: 20px
    }
}

@media only screen and (max-width:470px) {
    .pay-page {
        padding-left: 10px
    }
}

.contactpage-sila {
    float: right;
    margin-top: 102px
}

.sila-fm-txt {
    padding-top: 197px
}

.txt-office {
    font-weight: normal;
    width: 653px;
    margin-left: 0px;
    font-size: 22px;
    line-height: 32px;
    margin-top: 21px
}

.wait-question {
    background: #ecf6f8;
    border-radius: 4px;
    padding-top: 190px;
    margin-top: -190px;
    padding-bottom: 99px
}

.question-block {
    width: 1530px
}

.info-pay {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    max-width: 1530px;
    margin-left: 0px;
    color: #454545
}

.txt-question {
    width: 662px
}

.for-client {
    width: 1530px;
    font-family: Arial;
    padding-top: 107px;
    margin-bottom: 100px
}

.txt-for-client {
    font-size: 29px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(11.48deg, #483156 0%, #39516e 80.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 44px;
    margin-left: 60px;
    margin-bottom: 88px
}

.txt-for-client svg {
    position: absolute;
    margin-left: -63px;
    margin-top: -5px
}

.hr-client {
    margin-bottom: 30px
}

.select-pay {
    width: 490px;
    height: 319px;
    background: linear-gradient(21.56deg, #483156 0%, #39516e 80.3%);
    border-radius: 4px;
    padding: 50px 10px 0px 43px;
    box-sizing: border-box
}

#text-selected {
    display: flex;
    width: 490px;
    margin-left: 0px
}

#text-selected svg {
    margin-left: 20px
}

#text-selected-uk {
    display: flex;
    width: 490px;
    margin-left: 0px
}

#text-selected-uk svg {
    margin-left: 20px
}

.txt-how-pay {
    width: 249px;
    margin-left: 0px;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: #c7dee1
}

.btn-pay {
    border: none;
    background: transparent;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #c7dee1;
    margin-top: 116px;
    cursor: pointer
}

.btn-pay svg {
    margin-left: 17px
}

.genetal-flex {
    display: flex
}

.kind-pay {
    display: flex;
    flex-wrap: wrap
}

.web-cash {
    display: flex;
    margin-left: 15px
}

#pay-elem8-uk {
    margin-left: 29px
}

.kind-item {
    background: #ecf6f8;
    border-radius: 4px;
    padding: 40px 20px;
    box-sizing: border-box;
    width: 230px;
    height: 150px;
    margin-bottom: 20px;
    cursor: pointer
}

.kind-item:hover {
    background: linear-gradient(21.59deg, #483156 0%, #39516e 80.3%)
}

.kind-item #svg-pay1 {
    display: none;
    position: absolute;
    margin-top: -75px
}

.kind-item #svg-pay1-uk {
    display: none;
    position: absolute;
    margin-top: -65px
}

.kind-item .a-bank {
    margin-left: 44px
}

.kind-item .svg-visa {
    position: absolute;
    margin-top: 5px;
    margin-left: 13px
}

.kind-item .svg-master {
    margin-left: 15px
}

.kind-item .qiwi-icon {
    margin-top: 15px
}

.visa-position {
    margin-left: 12px
}

#jandex {
    display: none;
    width: 490px
}

#qiwi {
    display: none;
    width: 490px;
    height: 80px
}

#alpha {
    display: none;
    width: 490px;
    height: 80px
}

#visa {
    display: none;
    width: 490px;
    height: 80px
}

#paypal {
    display: none;
    width: 490px;
    height: 80px
}

#webmoney {
    display: none;
    width: 490px;
    height: 80px
}

#sber {
    display: none;
    width: 490px;
    height: 80px
}

#svg-pay2 {
    display: none;
    position: absolute;
    margin-top: -47px
}

#svg-pay4master {
    margin-top: -82px;
    display: none
}

#svg-pay4visa {
    display: none;
    margin-top: -75px;
    margin-left: 106px
}

#svg-pay5 {
    display: none;
    position: absolute;
    margin-top: -48px
}

#svg-pay6 {
    display: none;
    position: absolute;
    margin-top: -59px
}

#svg-pay7 {
    display: none;
    position: absolute;
    margin-top: -53px
}

#jandex-uk {
    display: none;
    width: 490px;
    height: 80px
}

#qiwi-uk {
    display: none;
    width: 490px;
    height: 80px
}

#alpha-uk {
    display: none;
    width: 490px;
    height: 80px
}

#visa-uk {
    display: none;
    width: 490px;
    height: 80px
}

#paypal-uk {
    display: none;
    width: 490px;
    height: 80px
}

#webmoney-uk {
    display: none;
    width: 490px;
    height: 80px
}

#sber-uk {
    display: none;
    width: 490px;
    height: 80px
}

#svg-pay2-uk {
    display: none;
    position: absolute;
    margin-top: -47px
}

#svg-pay4master-uk {
    margin-top: -82px;
    display: none
}

#svg-pay4visa-uk {
    display: none;
    margin-top: -75px;
    margin-left: 106px
}

#svg-pay5-uk {
    display: none;
    position: absolute;
    margin-top: -48px
}

#svg-pay6-uk {
    display: none;
    position: absolute;
    margin-top: -59px
}

#svg-pay7-uk {
    display: none;
    position: absolute;
    margin-top: -53px
}

.txt-nocash {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #c7dee1;
    width: 147px;
    margin-left: 0px;
    margin-top: 12px
}

.svg-nocash {
    position: absolute;
    margin-top: -50px;
    margin-left: 145px
}

#pay-elem8 {
    background: linear-gradient(21.59deg, #483156 0%, #39516e 80.3%);
    border-radius: 4px;
    color: #c7dee1
}

#pay-elem8-uk {
    background: linear-gradient(21.59deg, #483156 0%, #39516e 80.3%);
    border-radius: 4px;
    color: #c7dee1
}

.ukraine {
    margin-top: -110px
}

@media only screen and (max-width:1851px) {
    .info-pay {
        width: 88%
    }

    .question-block {
        width: 80%
    }

    .for-client {
        width: 1300px
    }

    .kind-item {
        padding: 40px 20px;
        box-sizing: border-box;
        width: 230px;
        height: 150px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px
    }

    .web-cash {
        display: flex;
        margin-left: 0px
    }

    #pay-elem8-uk {
        margin-left: 10px
    }
}

@media only screen and (max-width:1502px) {
    .for-client {
        width: 90%;
        margin-left: 110px
    }
}

@media only screen and (max-width:1125px) {
    .genetal-flex {
        flex-direction: column;
        justify-content: center
    }

    .select-pay {
        margin-bottom: 20px
    }

    .for-client {
        width: 90%;
        margin-left: 110px
    }

    .txt-for-client {
        width: 90%
    }
}

@media only screen and (max-width:1102px) {
    .select-pay {
        width: 445px;
        height: 329px
    }

    .for-client {
        width: 80%;
        margin-left: 110px;
        padding-top: 67px
    }

    .kind-pay {
        width: 510px
    }

    #text-selected {
        width: 400px;
        margin-left: 0px
    }

    #text-selected svg {
        margin-left: 10px
    }

    #text-selected-uk {
        width: 400px;
        margin-left: 0px
    }

    #text-selected-uk svg {
        margin-left: 10px
    }

    .txt-how-pay {
        width: 170px;
        font-size: 26px;
        line-height: 35px;
        height: 80px
    }
}

@media only screen and (max-width:970px) {
    .txt-office {
        font-size: 19px;
        width: 453px
    }

    .txt-question {
        width: 90%
    }

    .wait-question {
        padding-left: 107px
    }

    .info-pay {
        font-size: 16px;
        line-height: 22px
    }

    .question-block {
        width: 95%
    }

    .txt-for-client {
        font-size: 22px;
        width: 290px;
        line-height: 29px
    }
}

@media screen and (max-width:725px) {
    #jandex {
        display: none;
        width: 100%
    }

    #qiwi {
        display: none;
        width: 100%;
        height: 80px
    }

    #alpha {
        display: none;
        width: 100%;
        height: 80px
    }

    #visa {
        display: none;
        width: 100%;
        height: 80px
    }

    #paypal {
        display: none;
        width: 100%;
        height: 80px
    }

    #webmoney {
        display: none;
        width: 100%;
        height: 80px
    }

    #sber {
        display: none;
        width: 100%;
        height: 80px
    }

    #jandex-uk {
        display: none;
        width: 100%;
        height: 80px
    }

    #qiwi-uk {
        display: none;
        width: 100%;
        height: 80px
    }

    #alpha-uk {
        display: none;
        width: 100%;
        height: 80px
    }

    #visa-uk {
        display: none;
        width: 100%;
        height: 80px
    }

    #paypal-uk {
        display: none;
        width: 100%;
        height: 80px
    }

    #webmoney-uk {
        display: none;
        width: 100%;
        height: 80px
    }

    #sber-uk {
        display: none;
        width: 100%;
        height: 80px
    }
}

@media only screen and (max-width:721px) {
    .select-pay {
        width: 385px;
        height: 299px
    }

    .kind-pay {
        width: 270px
    }

    .txt-how-pay {
        width: 170px;
        font-size: 23px;
        line-height: 30px;
        height: 80px
    }

    .web-cash {
        flex-direction: column
    }
}

@media only screen and (max-width:659px) {
    .txt-office {
        line-height: 20px;
        font-size: 14px;
        width: 300px
    }

    .txt-question {
        font-size: 16px;
        width: 90%
    }

    .info-pay {
        font-size: 12px;
        line-height: 20px
    }

    .txt-for-client {
        font-size: 20px;
        line-height: 27px
    }
}

@media only screen and (max-width:610px) {
    .for-client {
        width: 60%;
        margin-left: 110px
    }

    #text-selected {
        width: 90%;
        margin-left: 0px
    }

    #text-selected svg {
        margin-left: 10px
    }

    #text-selected-uk {
        width: 90%;
        margin-left: 0px
    }

    #text-selected-uk svg {
        margin-left: 10px
    }
}

@media only screen and (max-width:516px) {
    .contactpage-sila {
        display: none
    }

    .for-client {
        width: 40%;
        margin-left: 110px
    }

    .select-pay {
        padding: 40px 10px 0px 23px;
        width: 255px;
        height: 299px
    }

    .txt-how-pay {
        width: 170px;
        font-size: 18px;
        line-height: 30px;
        height: 80px
    }

    .txt-for-client {
        font-size: 16px;
        width: 200px;
        margin-top: 20px;
        margin-bottom: 16px
    }
}

@media only screen and (max-width:392px) {
    .kind-item {
        padding: 30px 20px;
        width: 230px;
        height: 130px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px
    }

    .for-client {
        width: 60%;
        margin-left: 90px
    }

    .kind-pay {
        width: 220px
    }

    .txt-for-client {
        font-size: 15px;
        line-height: 20px;
        left: 10px;
        width: 140px
    }

    .select-pay {
        padding: 40px 0px 0px 13px;
        width: 245px;
        height: 289px
    }
}

@media only screen and (max-width:338px) {
    .for-client {
        width: 60%;
        margin-left: 80px
    }

    .select-pay {
        padding: 40px 0px 0px 7px;
        width: 230px;
        height: 279px
    }
}

@media only screen and (min-width:40em) {
    .modal-overlay-cash {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-color: rgba(63, 68, 100, 0.5);
        opacity: 0;
        visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1)
    }

    .modal-overlay-cash.active-cash {
        opacity: 1;
        visibility: visible
    }
}

.modal-cash {
    display: flex;
    font-family: Arial;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    background: #ecf6f8;
    width: 1760px;
    height: 90%;
    border-radius: 4px;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: scale(1.2);
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1)
}

.modal-cash .close-modal-cash {
    position: absolute;
    cursor: pointer;
    top: 25px;
    right: 27px;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s
}

.modal-cash.modal-content-cash {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s
}

.modal-cash.active-cash {
    visibility: visible;
    opacity: 1;
    transform: scale(1)
}

.modal-cash.active-cash .modal-content-cash {
    opacity: 1
}

.modal-cash.active-cash .close-modal-cash {
    transform: translateY(10px);
    opacity: 1
}

@media only screen and (max-width:39.9375em) {
    .modal-cash {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        height: 100%;
        background: #ecf6f8;
        -webkit-overflow-scrolling: touch;
        border-radius: 0;
        transform: scale(1.1);
        padding: 0 !important
    }
}

@media only screen and (min-width:40em) {
    .modal-overlay-bank {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-color: rgba(63, 68, 100, 0.5);
        opacity: 0;
        visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1)
    }

    .modal-overlay-bank.active-bank {
        opacity: 1;
        visibility: visible
    }
}

.modal-bank {
    display: flex;
    font-family: Arial;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    background: #ecf6f8;
    width: 1760px;
    height: 90%;
    border-radius: 4px;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: scale(1.2);
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1)
}

.modal-bank .close-modal-bank {
    position: absolute;
    cursor: pointer;
    top: 25px;
    right: 27px;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s
}

.modal-bank.modal-content-bank {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s
}

.modal-bank.active-bank {
    visibility: visible;
    opacity: 1;
    transform: scale(1)
}

.modal-bank.active-bank .modal-content-bank {
    opacity: 1
}

.modal-bank.active-bank .close-modal-bank {
    transform: translateY(10px);
    opacity: 1
}

@media only screen and (max-width:39.9375em) {
    .modal-bank {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        height: 100%;
        background: #ecf6f8;
        -webkit-overflow-scrolling: touch;
        border-radius: 0;
        transform: scale(1.1);
        padding: 0 !important
    }
}

@media only screen and (max-width:1888px) {
    .modal-cash {
        width: 100%;
        height: 100%
    }

    .modal-bank {
        width: 100%;
        height: 100%
    }
}

@media only screen and (max-width:1400px) {
    .modal-cash .close-modal-cash svg {
        width: 29px;
        height: 29px
    }

    .modal-bank .close-modal-bank svg {
        width: 29px;
        height: 29px
    }
}

@media only screen and (max-width:1200px) {
    .modal-cash .close-modal-cash {
        top: 15px;
        right: 25px
    }

    .modal-cash .close-modal-cash svg {
        width: 25px;
        height: 25px
    }

    .modal-cash {
        height: 100%;
        padding-bottom: 20px
    }

    .modal-bank .close-modal-bank {
        top: 15px;
        right: 25px
    }

    .modal-bank .close-modal-bank svg {
        width: 25px;
        height: 25px
    }

    .modal-bank {
        height: 100%
    }
}

@media only screen and (max-width:583px) {
    .modal-cash .close-modal-cash svg {
        width: 20px;
        height: 20px
    }

    .modal-bank .close-modal-bank svg {
        width: 20px;
        height: 20px
    }
}

.container-bank {
    padding: 40px 16px;
    width: 806px;
    margin-top: 40px;
    background: linear-gradient(16.53deg, #483156 0%, #39516e 80.3%);
    border-radius: 4px
}

.txt-bank-form {
    position: absolute;
    text-align: right;
    width: 150px;
    margin-left: -70px;
    margin-top: 14px
}

.bank-sum {
    line-height: 30px;
    margin-left: 30px
}

.number-order {
    margin-left: 10px
}

#bank-box {
    margin-top: 6px
}

.bank-btn-form {
    margin-bottom: 30px
}

.input-bank-form {
    margin-left: 100px
}

.nocash-block {
    width: 1530px;
    background: linear-gradient(16.53deg, #483156 0%, #39516e 80.3%);
    border-radius: 4px
}

.container-cash {
    padding: 47px 16px;
    width: 1530px;
    height: 748px;
    margin-top: 40px;
    background: linear-gradient(16.53deg, #483156 0%, #39516e 80.3%);
    border-radius: 4px
}

.date-input {
    width: 452px;
    height: 50px;
    font-family: Arial;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border: none;
    line-height: 36px;
    letter-spacing: 0.05em;
    padding-left: 16px;
    padding-right: 10px;
    color: #43417d;
    background: #b3c2d9;
    border-radius: 6px
}

input[type=date]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../img/calendar.png) no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 473px;
    position: absolute;
    border-width: thin;
    cursor: pointer
}

.label-data {
    font-family: Arial;
    white-space: pre;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
    margin-right: 16px;
    color: #c7dee1;
    text-align: right
}

.cash-part1 {
    display: flex;
    flex-wrap: wrap
}

.cash-part1 div {
    margin-top: 31px
}

.suma-txt {
    margin-left: 56px;
    line-height: 35px;
    margin-top: -12px
}

.money-input {
    display: flex
}

.input-position {
    margin-left: 40px
}

.ryb-txt {
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    line-height: 50px;
    margin-left: 11px;
    letter-spacing: 0.05em;
    color: #c7dee1
}

.name-of-pay {
    margin-left: -21px
}

.input-details {
    max-width: 1244px;
    min-width: 1244px;
    max-height: 146px;
    margin-top: 31px;
    min-height: 146px;
    background: #b3c2d9;
    border-radius: 6px;
    margin-left: 154px;
    box-sizing: border-box;
    padding: 5px;
    font-size: 14px;
    line-height: 22px;
    font-family: Arial;
    color: #43417d
}

.details-txt {
    position: absolute;
    margin-top: 29px
}

.date-input::placeholder {
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #43417d
}

.details-input {
    width: 1225px;
    margin-left: 0px;
    margin-top: 21px
}

.label-purpose {
    margin-left: -50px;
    margin-top: 21px
}

.label-email {
    margin-top: 21px;
    margin-left: 10px
}

.check-elem {
    background: none;
    margin-left: 100px;
    margin-top: 7px
}

.radio-btns {
    margin-left: 170px
}

.send-email {
    margin-top: 16px;
    margin-bottom: 39px
}

.cash-btn-form {
    text-align: center;
    margin-left: 0px
}

@media only screen and (max-width:1634px) {
    .container-cash {
        padding: 37px 16px;
        width: 700px;
        height: 868px;
        margin-top: 40px
    }

    .date-input {
        width: 300px;
        font-size: 16px;
        padding-left: 16px;
        padding-right: 10px
    }

    input[type=date]::-webkit-calendar-picker-indicator {
        background: url(../img/calenddark.png) no-repeat;
        margin-left: 273px
    }

    .label-data {
        font-family: Arial;
        white-space: pre;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        text-align: right;
        margin-right: 16px;
        color: #c7dee1;
        text-align: right
    }

    .cash-part1 {
        flex-direction: column
    }

    .cash-part1 div {
        margin-top: 31px
    }

    .suma-txt {
        margin-left: 104px;
        line-height: 35px;
        margin-top: -12px
    }

    .money-input {
        display: flex
    }

    .ryb-txt {
        font-family: Arial;
        font-weight: bold;
        font-size: 16px;
        line-height: 50px;
        margin-left: 11px;
        letter-spacing: 0.05em;
        color: #c7dee1
    }

    .name-of-pay {
        margin-left: 9px
    }

    .input-details {
        max-width: 326px;
        min-width: 326px;
        border-radius: 6px;
        margin-left: 200px
    }

    .details-txt {
        margin-top: 30px
    }

    .check-elem {
        background: none;
        margin-left: 140px;
        margin-top: 7px
    }

    .radio-btns {
        margin-left: 210px
    }

    .number-order {
        margin-left: 40px
    }

    .bank-sum-input {
        margin-left: 160px
    }
}

@media only screen and (max-width:1200px) {
    .check-elem {
        margin-left: 200px
    }
}

@media only screen and (max-width:965px) {
    .container-bank {
        padding: 40px 16px;
        width: 606px;
        margin-top: 40px
    }

    .number-order {
        margin-left: -60px
    }

    .bank-sum-input {
        margin-left: 57px
    }
}

@media only screen and (max-width:786px) {
    .container-cash {
        padding: 37px 16px;
        width: 400px;
        height: 868px;
        margin-top: 40px
    }

    .input-position {
        margin-left: 10px
    }

    .date-input {
        width: 200px;
        font-size: 14px;
        padding-left: 16px;
        padding-right: 10px
    }

    input[type=date]::-webkit-calendar-picker-indicator {
        margin-left: 173px
    }

    .label-data {
        font-size: 12px;
        line-height: 14px;
        text-align: right;
        margin-right: 16px
    }

    .cash-part1 {
        flex-direction: column
    }

    .cash-part1 div {
        margin-top: 31px
    }

    .suma-txt {
        margin-left: 0px;
        line-height: 35px;
        margin-top: -12px
    }

    .ryb-txt {
        font-family: Arial;
        font-weight: bold;
        font-size: 16px;
        line-height: 50px;
        margin-left: 11px
    }

    .name-of-pay {
        margin-left: 9px
    }

    .input-details {
        max-width: 226px;
        min-width: 226px;
        border-radius: 6px;
        margin-left: 100px
    }

    .details-txt {
        margin-left: 23px;
        margin-top: 30px
    }

    .details-input {
        margin-left: 6px
    }

    .label-purpose {
        margin-left: 5px;
        margin-top: 21px
    }

    .label-email {
        margin-top: 21px;
        margin-left: 49px
    }

    .check-elem {
        background: none;
        margin-left: 80px;
        margin-top: 7px
    }

    .radio-btns {
        margin-left: 90px
    }

    .container-bank {
        padding: 40px 16px;
        width: 406px;
        margin-top: 40px
    }

    .number-order {
        margin-left: 30px
    }

    .bank-sum-input {
        margin-left: 43px
    }

    .pay-bank-txt {
        font-size: 20px
    }
}

@media only screen and (max-width:500px) {
    .btn-send-form {
        width: 180px;
        font-size: 12px;
        height: 50px
    }

    .btn-send-form svg {
        height: 10px
    }

    .container-cash {
        padding: 37px 16px;
        width: 270px;
        height: 868px;
        margin-top: 20px
    }

    .input-position {
        margin-left: 0px
    }

    .date-input {
        width: 110px;
        font-size: 12px;
        height: 40px;
        padding-left: 16px;
        padding-right: 10px
    }

    input[type=date]::-webkit-calendar-picker-indicator {
        margin-left: 93px;
        width: 15px;
        height: 15px
    }

    .label-data {
        font-size: 11px;
        line-height: 14px;
        text-align: right;
        letter-spacing: normal;
        margin-right: 16px
    }

    .cash-part1 {
        flex-direction: column
    }

    .cash-part1 div {
        margin-top: 31px
    }

    .suma-txt {
        line-height: 25px;
        margin-top: -12px
    }

    .ryb-txt {
        font-family: Arial;
        font-weight: bold;
        font-size: 12px;
        line-height: 50px;
        margin-left: 11px
    }

    .name-of-pay {
        margin-left: -5px
    }

    .input-details {
        max-width: 166px;
        min-width: 166px;
        border-radius: 6px;
        margin-left: 90px
    }

    .details-txt {
        margin-left: 10px;
        margin-top: 50px
    }

    .details-input {
        margin-left: 6px
    }

    .label-purpose {
        margin-left: 0px;
        margin-top: 21px
    }

    .label-email {
        margin-top: 21px;
        margin-left: 40px
    }

    .check-elem {
        background: none;
        margin-left: 80px;
        margin-top: 7px
    }

    .radio-btns {
        margin-left: 90px
    }

    .container-bank {
        padding: 20px 5px;
        width: 276px;
        margin-top: 40px
    }

    .number-order {
        margin-left: 1px
    }

    .bank-sum-input {
        margin-left: 9px
    }

    .pay-bank-txt {
        font-size: 20px
    }

    .input-bank-form {
        margin-left: 68px
    }

    .txt-bank-form {
        position: absolute;
        text-align: right;
        width: 150px;
        margin-left: -98px;
        margin-top: 14px
    }

    .bank-btn-form {
        margin-bottom: 30px
    }
}

@media only screen and (max-width:470px) {
    .cash-btn-form {
        text-align: left;
        margin-left: 60px;
        width: 100%
    }

    .check-elem {
        width: 170px;
        background: none;
        margin-left: 80px;
        margin-top: 7px
    }

    .radio-btns {
        width: 170px;
        margin-left: 90px
    }

    .pay-bank-txt {
        font-size: 15px;
        line-height: 23px;
        margin-top: 50px
    }
}