.audiopage-sila {
  float: right;
  margin-top: 102px;
}

.active-page-col {
  color: #671627;
  border-top: 2px solid #671627;
  padding-left: 17px;
  padding-right: 4px;
}

.golos {
  line-height: 70px;
}

.home-page {
  background: linear-gradient(118.88deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(47, 61, 83, 0.8) 22.66%, rgba(17, 48, 62, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%), url(../img-audio/bg-audiopage.png);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-repeat: no-repeat;
  height: 681px;
  background-size: cover;
}

.sila-fm-txt {
  padding-top: 199px;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 16px;
}

.txt-production {
  width: 653px;
  font-size: 22px;
  line-height: 32px;
  margin-top: 31px;
  margin-left: 0px;
  color: #C7DEE1;
}

.player {
  background: rgba(255, 255, 255, 0.07);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  height: 51px;
  display: flex;
  justify-content: start;
  width: 100%;
  margin-top: -151px;
}

.box-element-audio {
  background: linear-gradient(43.3deg, #483156 0%, #39516e 80.3%);
  border-radius: 4px;
  width: 360px;
  height: 381px;
  padding: 49px 60px 0px 33px;
  transition: 0.7s ease;
  box-sizing: border-box;
  text-align: center;
}
.box-element-audio svg {
  margin-top: 18px;
  margin-bottom: 78px;
}

.text-element {
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #C7DEE1;
}

.txt-audioslot {
  width: 612px;
}

.for-other-bg2 {
  background: linear-gradient(30.35deg, #473A60 8.29%, #305E76 92.17%);
}

.for-other-bg3 {
  background: linear-gradient(205.24deg, #1E7A89 4.76%, #3F486A 100%);
}

.for-other-bg4 {
  background: linear-gradient(22.47deg, #257289 -0.93%, #188191 100%);
}

.about-us {
  padding-top: 262px;
  padding-bottom: 200px;
  background-color: #ecf6f8;
  margin-top: -560px;
  padding-bottom: 0px;
}

.box-about-us {
  padding-left: 78px;
  width: 78%;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: space-between;
}

.box-about-element {
  padding-right: 20px;
}

.info-about-us {
  width: 100%;
  font-family: Arial;
}

.info-about-last {
  width: 100%;
  padding-top: 149px;
  margin-left: 0px;
}

.txt-voice {
  width: 951px;
}

.base-box {
  padding-bottom: 60px;
}

.base-btn-page {
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #404263;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 40px;
}

#svg1 {
  position: absolute;
  margin-left: -20px;
  margin-top: 2px;
}

#svg2 {
  position: absolute;
  margin-left: -20px;
  margin-top: 2px;
}

.br-ad-golos {
  display: none;
}

@media only screen and (min-width: 1825px) {
  .example-audio .icon-volume {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 1910px) {
  .box-container {
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .br-ad-golos {
    display: block;
  }
}
@media only screen and (max-width: 1825px) {
  .home-page {
    background-position-x: center;
  }

  .professional-txt {
    font-size: 60px;
  }

  .txt-voice {
    width: 90%;
  }
}
@media only screen and (max-width: 1660px) {
  .box-element-audio {
    width: 310px;
    height: 321px;
    margin-left: 15px;
  }
  .box-element-audio svg {
    margin-top: 18px;
    margin-bottom: 58px;
  }

  .text-element {
    font-size: 16px;
  }

  .about-us {
    padding-top: 162px;
  }
}
@media only screen and (max-width: 1444px) {
  .box-element-audio {
    padding: 40px 40px 0px 33px;
    width: 280px;
    height: 290px;
    margin-left: 15px;
  }
  .box-element-audio svg {
    margin-top: 7px;
    margin-bottom: 30px;
  }

  .text-element {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1400px) {
  .professional-txt {
    font-size: 50px;
  }
}
@media only screen and (max-width: 1311px) {
  .box-container {
    display: flex;
    max-width: 650px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about-us {
    padding-top: 462px;
  }
}
@media only screen and (max-width: 1294px) {
  .home-btn {
    margin-top: 50px;
  }

  .professional-txt {
    font-size: 45px;
  }

  .txt-production {
    width: 90%;
    font-size: 18px;
    line-height: 28px;
    margin-top: 31px;
  }
}
@media only screen and (max-width: 1221px) {
  .txt-audioslot {
    width: 100%;
    padding-bottom: 0px;
  }

  .info-about-us {
    margin-top: 0px;
  }

  .svg-icon-text {
    width: 10px;
    height: 12px;
  }

  .base-btn-page {
    font-size: 17px;
  }
}
@media only screen and (max-width: 1087px) {
  .golos {
    line-height: 20px;
  }

  .icon-message {
    margin-top: -110px;
  }
}
@media only screen and (max-width: 960px) {
  .base-box svg {
    display: none;
  }
  .base-box #base-svg1 {
    opacity: 0;
  }
  .base-box #base-svg2 {
    opacity: 0;
  }
  .base-box #svg1 {
    display: inline;
  }
  .base-box #svg2 {
    display: inline;
  }
}
@media only screen and (max-width: 792px) {
  .box-container {
    display: flex;
    max-width: 520px;
    height: 500px;
  }

  .text-element {
    width: 120px;
  }

  .txt-production {
    font-size: 14px;
  }

  .box-element-audio {
    padding: 40px 40px 0px 33px;
    width: 230px;
    height: 230px;
    margin-left: 15px;
    margin-top: 25px;
  }
  .box-element-audio svg {
    width: 50px;
    margin-top: -20px;
    margin-bottom: 10px;
  }
  .box-element-audio .time-svg {
    width: 35px;
  }

  .about-us {
    padding-top: 522px;
  }
}
@media only screen and (max-width: 664px) {
  .box-container {
    max-width: 300px;
  }

  .text-element {
    font-size: 14px;
  }

  .about-us {
    padding-top: 1020px;
  }

  .base-btn-page {
    font-size: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .audiopage-sila {
    display: none;
  }

  .player {
    margin-top: -50px;
  }

  .txt-production {
    width: 290px;
  }
}
@media only screen and (max-width: 495px) {
  .txt-production {
    width: 260px;
    font-size: 14px;
    line-height: 16px;
  }

  .professional-txt {
    font-size: 40px;
    letter-spacing: 0.03em;
  }

  .box-about-element {
    width: 99%;
  }

  .base-btn-page {
    margin-left: -10px;
    font-size: 11px;
  }
  .base-btn-page svg {
    height: 10px;
    padding-top: 3px;
  }

  .box-about-us {
    width: 70%;
  }
}
@media only screen and (max-width: 395px) {
  .box-container {
    margin-left: 80px;
  }

  .base-btn-page {
    margin-left: -10px;
    font-size: 10px;
  }
  .base-btn-page svg {
    width: 60px;
    height: 10px;
    padding-top: 4px;
  }

  .box-element-audio {
    padding: 40px 40px 0px 33px;
    width: 210px;
    height: 230px;
    margin-left: 15px;
    margin-top: 25px;
  }
  .box-element-audio svg {
    width: 50px;
    margin-top: -20px;
    margin-bottom: 10px;
  }

  .text-element {
    line-height: 20px;
    font-size: 12px;
    width: 120px;
  }
}
@media only screen and (max-width: 363px) {
  .sila-fm-txt {
    font-size: 14px;
  }

  .professional-txt {
    font-size: 30px;
    letter-spacing: 0.03em;
  }
}
.example-audio {
  background: #ecf6f8;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 142px 195px;
}

.example-block {
  width: 1521px;
}

.example-btn-all {
  font-family: Arial;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
  width: 185px;
  height: 70px;
  color: #404263;
  background-color: transparent;
  border: 2px solid #404263;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.6s ease;
}
.example-btn-all:hover {
  background: linear-gradient(21.56deg, #483156 0%, #39516e 80.3%);
  color: #ecf6f8;
}

.example-block-elem {
  font-family: Arial;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
  color: #94a0b0;
  margin-left: 110px;
}
.example-block-elem svg {
  position: absolute;
  margin-top: 12px;
  margin-left: -55px;
}

.container-playlist {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial;
  margin-top: 74px;
  width: 1531px;
}

.playlist-element {
  background: linear-gradient(21.56deg, #483156 0%, #39516e 80.3%);
  border-radius: 4px;
  width: 490px;
  height: 319px;
  box-sizing: border-box;
  padding: 37px 0px 0px 0px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.txt-visa-free {
  margin-left: 20px;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c7dee1;
}

.voices-people {
  margin-left: 20px;
  margin-top: 26px;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 30px;
  color: #74d8e2;
}

.btn-download {
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: #c7dee1;
  cursor: pointer;
}
.btn-download svg {
  position: absolute;
  margin-left: 16px;
}

.icon-playlist {
  position: absolute;
  margin-left: 65px;
  margin-top: -10px;
}

.playlist {
  margin-top: 1px;
}

.audio-slider {
  width: 100px;
}

#audio-player {
  width: 190px;
}

#audio-volume {
  width: 70px;
}

.audio-playlist {
  width: 490px;
  margin-left: 0px;
  margin-top: 55px;
}

.playpause-audio {
  margin-left: 20px;
}

.repeat {
  margin-right: 20px;
}

.seek_slider1,
.volume_slider1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: linear-gradient(179.42deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(58, 79, 110, 0.8) 22.66%, rgba(43, 99, 123, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%);
  transition: opacity 0.9s;
}

.seek_slider1::-webkit-slider-thumb,
.volume_slider1::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-image: url(/silaFM/img/go-icon.png);
  cursor: pointer;
}

.playpause-track1 {
  width: 25px;
  margin-left: 20px;
  margin-top: 14px;
  margin-right: 13px;
  cursor: pointer;
}

.seek_slider1 {
  width: 870px;
}

.playrepeat-track1 {
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}

.volume_slider1 {
  width: 184px;
  margin-left: -10px;
  cursor: pointer;
}

.active svg {
  fill: #74d8e2;
}

.active2 svg {
  fill: #74d8e2;
}

.active3 svg {
  fill: #74d8e2;
}

.active4 svg {
  fill: #74d8e2;
}

.active5 svg {
  fill: #74d8e2;
}

.active6 svg {
  fill: #74d8e2;
}

.seek_slider2,
.volume_slider2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: linear-gradient(179.42deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(58, 79, 110, 0.8) 22.66%, rgba(43, 99, 123, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%);
  transition: opacity 0.9s;
}

.seek_slider2::-webkit-slider-thumb,
.volume_slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-image: url(/silaFM/img/go-icon.png);
  cursor: pointer;
}

.playpause-track2 {
  width: 25px;
  margin-left: 20px;
  margin-top: 14px;
  margin-right: 13px;
  cursor: pointer;
}

.seek_slider2 {
  width: 870px;
}

.playrepeat-track2 {
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}

.volume_slider2 {
  width: 184px;
  margin-left: -10px;
  cursor: pointer;
}

.seek_slider3,
.volume_slider3 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: linear-gradient(179.42deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(58, 79, 110, 0.8) 22.66%, rgba(43, 99, 123, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%);
  transition: opacity 0.9s;
}

.seek_slider3::-webkit-slider-thumb,
.volume_slider3::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-image: url(/silaFM/img/go-icon.png);
  cursor: pointer;
}

.playpause-track3 {
  width: 25px;
  margin-left: 20px;
  margin-top: 14px;
  margin-right: 13px;
  cursor: pointer;
}

.seek_slider3 {
  width: 190px;
}

.playrepeat-track3 {
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}

.volume_slider3 {
  width: 70px;
  margin-left: -10px;
  cursor: pointer;
}

.seek_slider4,
.volume_slider4 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: linear-gradient(179.42deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(58, 79, 110, 0.8) 22.66%, rgba(43, 99, 123, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%);
  transition: opacity 0.9s;
}

.seek_slider4::-webkit-slider-thumb,
.volume_slider4::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-image: url(/silaFM/img/go-icon.png);
  cursor: pointer;
}

.playpause-track4 {
  width: 25px;
  margin-left: 20px;
  margin-top: 14px;
  margin-right: 13px;
  cursor: pointer;
}

.seek_slider4 {
  width: 190px;
}

.playrepeat-track4 {
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}

.volume_slider4 {
  width: 70px;
  margin-left: -10px;
  cursor: pointer;
}

.seek_slider5,
.volume_slider5 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: linear-gradient(179.42deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(58, 79, 110, 0.8) 22.66%, rgba(43, 99, 123, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%);
  transition: opacity 0.9s;
}

.seek_slider5::-webkit-slider-thumb,
.volume_slider5::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-image: url(/silaFM/img/go-icon.png);
  cursor: pointer;
}

.playpause-track5 {
  width: 25px;
  margin-left: 20px;
  margin-top: 14px;
  margin-right: 13px;
  cursor: pointer;
}

.seek_slider5 {
  width: 190px;
}

.playrepeat-track5 {
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}

.volume_slider5 {
  width: 70px;
  cursor: pointer;
}

.seek_slider6,
.volume_slider6 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: linear-gradient(179.42deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(58, 79, 110, 0.8) 22.66%, rgba(43, 99, 123, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%);
  transition: opacity 0.9s;
}

.seek_slider6::-webkit-slider-thumb,
.volume_slider6::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-image: url(/silaFM/img/go-icon.png);
  cursor: pointer;
}

.playpause-track6 {
  width: 25px;
  margin-left: 20px;
  margin-top: 14px;
  margin-right: 13px;
  cursor: pointer;
}

.seek_slider6 {
  width: 190px;
}

.playrepeat-track6 {
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}

.volume_slider6 {
  width: 70px;
  cursor: pointer;
}

.sec-elem {
  background: linear-gradient(19.81deg, #473a60 8.29%, #305e76 92.17%);
}

.third-elem {
  background: linear-gradient(196.17deg, #1e7a89 4.76%, #3f486a 100%);
}

.count-pages {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 40px;
  color: #404263;
  margin-top: 31px;
}
.count-pages a {
  margin-right: 17px;
  margin-left: 19px;
  cursor: pointer;
  transition: 0.3s;
}
.count-pages a:hover {
  opacity: 0.7;
}

.btn-show-more {
  border: none;
  background-color: transparent;
  color: #404263;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  float: right;
  margin-top: -40px;
  cursor: pointer;
}
.btn-show-more svg {
  margin-left: 19px;
  position: absolute;
}

.box-pages {
  padding-right: 40px;
}

.over-btnall {
  display: none;
}

.foreign-speakers {
  margin-top: -410px;
  background-color: white;
  padding-top: 800px;
}

.img-speakers {
  margin-right: 0px;
}

.text-description {
  margin: 0;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  width: 788px;
  color: #c7dee1;
  padding-top: 35px;
}

.with-blue {
  font-size: 18px;
  line-height: 30px;
  color: #74d8e2;
}

@media only screen and (max-width: 1905px) {
  .example-block-elem {
    font-size: 20px;
    margin-left: 90px;
  }
  .example-block-elem svg {
    position: absolute;
    margin-top: 12px;
    margin-left: -75px;
    width: 60px;
  }
}
@media only screen and (max-width: 1790px) {
  .container-playlist {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial;
    margin-top: 74px;
    width: 1040px;
  }

  .example-block {
    width: 1000px;
  }

  .example-block-elem {
    line-height: 60px;
    font-size: 20px;
    margin-left: 90px;
  }
  .example-block-elem svg {
    position: absolute;
    margin-top: 8px;
    margin-left: -75px;
    width: 60px;
  }

  .example-btn-all {
    margin-bottom: 16px;
  }

  .over-btnall {
    display: block;
  }

  .example-audio {
    padding: 100px 70px;
  }
}
@media only screen and (max-width: 1530px) {
  .speakers-btn {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .img-speakers {
    margin-top: -175px;
    margin-right: 0px;
    width: 439.75px;
    height: 582px;
  }
}
@media only screen and (max-width: 1264px) {
  .container-playlist {
    margin-top: 54px;
    width: 100%;
  }

  .example-block {
    width: 83%;
  }

  .box-pages {
    width: 500px;
    margin-left: -20px;
  }
}
@media only screen and (max-width: 1087px) {
  .img-speakers {
    display: none;
  }

  .text-recording {
    width: 80%;
    font-size: 20px;
    line-height: 24px;
  }

  .text-description {
    font-size: 18px;
    line-height: 20px;
    width: 70%;
  }

  .speakers-btn {
    position: none;
  }
}
@media only screen and (max-width: 892px) {
  .example-btn-all {
    font-size: 18px;
    width: 125px;
    height: 50px;
  }

  .example-block-elem {
    line-height: 57px;
    font-size: 15px;
    margin-left: 50px;
  }
  .example-block-elem svg {
    position: absolute;
    margin-top: 4px;
    margin-left: -45px;
    width: 30px;
  }
}
@media only screen and (max-width: 644px) {
  .example-block-elem {
    line-height: 37px;
    font-size: 14px;
    margin-left: 50px;
  }
  .example-block-elem svg {
    position: absolute;
    margin-top: -5px;
    margin-left: -45px;
    width: 30px;
  }

  .playlist-element {
    width: 300px;
    height: 279px;
    padding: 17px 15px 0px 0px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .txt-visa-free {
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
  }

  .voices-people {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 26px;
    font-size: 15px;
    line-height: 24px;
    color: #74d8e2;
  }

  .btn-download {
    margin-left: 10px;
    font-size: 18px;
    line-height: 23px;
  }
  .btn-download svg {
    position: absolute;
    margin-left: 14px;
    width: 16px;
  }

  .icon-playlist {
    position: absolute;
    margin-left: 25px;
    margin-top: -10px;
    width: 30px;
  }

  #audio-player {
    width: 110px;
    margin-left: -10px;
  }

  #audio-volume {
    width: 45px;
  }

  .audio-playlist {
    width: 300px;
    margin-left: 0px;
    margin-top: 45px;
  }

  .playpause-audio {
    margin-left: 10px;
  }

  .repeat {
    margin-right: 10px;
  }

  .playpause-track3 {
    margin-left: 10px;
    margin-top: 14px;
    margin-right: 3px;
  }

  .seek_slider3 {
    width: 110px;
  }

  .playrepeat-track3 {
    margin-right: 10px;
  }

  .volume_slider3 {
    width: 45px;
  }

  .playpause-track4 {
    margin-left: 10px;
    margin-top: 14px;
    margin-right: 3px;
  }

  .seek_slider4 {
    width: 110px;
  }

  .playrepeat-track4 {
    margin-right: 10px;
  }

  .volume_slider4 {
    width: 45px;
  }

  .playpause-track5 {
    margin-left: 10px;
    margin-top: 14px;
    margin-right: 3px;
  }

  .seek_slider5 {
    width: 110px;
  }

  .playrepeat-track5 {
    margin-right: 10px;
  }

  .volume_slider5 {
    width: 45px;
  }

  .playpause-track6 {
    margin-left: 10px;
    margin-top: 14px;
    margin-right: 3px;
  }

  .seek_slider6 {
    width: 110px;
  }

  .playrepeat-track6 {
    margin-right: 10px;
  }

  .volume_slider6 {
    width: 45px;
  }

  .count-pages {
    font-size: 16px;
  }
  .count-pages a {
    margin-right: 10px;
    margin-left: 10px;
  }

  .btn-show-more {
    font-size: 16px;
  }
  .btn-show-more svg {
    width: 20px;
  }

  .box-pages {
    width: 340px;
    margin-left: -20px;
  }

  .playrepeat-track2 {
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 480px) {
  .box-pages {
    width: 300px;
    margin-left: -10px;
  }

  .example-audio {
    padding: 100px 55px;
  }

  .hr-for-slider {
    margin-left: 10px;
  }

  .txt-audioslot {
    margin-left: 10px;
    font-size: 16px;
  }

  .example-btn-all {
    margin-left: 10px;
    font-size: 16px;
  }

  .example-block-elem {
    line-height: 37px;
    font-size: 12px;
    margin-left: 57px;
  }
}
@media only screen and (max-width: 426px) {
  .btn-show-more {
    font-size: 13px;
    margin-top: 2px;
    float: left;
  }
  .btn-show-more svg {
    width: 14px;
  }

  .box-pages {
    width: 150px;
    margin-left: 50px;
  }

  .playlist-element {
    width: 220px;
    height: 229px;
  }

  .txt-visa-free {
    letter-spacing: normal;
    font-size: 14px;
  }

  .voices-people {
    font-size: 13px;
    line-height: 19px;
  }

  .playrepeat-track2 {
    margin-right: 5px;
  }

  .btn-download {
    font-size: 14px;
    line-height: 23px;
  }
  .btn-download svg {
    margin-left: 8px;
    width: 10px;
  }

  #audio-player {
    width: 70px;
    margin-left: -10px;
  }

  #audio-volume {
    width: 35px;
  }

  .audio-playlist {
    width: 220px;
    margin-left: 0px;
    margin-top: 11px;
  }

  .playpause-audio {
    margin-left: 5px;
  }

  .repeat {
    margin-right: 5px;
  }

  .playpause-track3 {
    margin-left: 5px;
    margin-top: 14px;
    margin-right: 3px;
  }

  .seek_slider3 {
    width: 70px;
  }

  .playrepeat-track3 {
    margin-right: 10px;
  }

  .volume_slider3 {
    width: 35px;
  }

  .playpause-track4 {
    margin-left: 5px;
  }

  .seek_slider4 {
    width: 70px;
  }

  .playrepeat-track4 {
    margin-right: 5px;
  }

  .volume_slider4 {
    width: 35px;
  }

  .playpause-track5 {
    margin-left: 5px;
  }

  .seek_slider5 {
    width: 70px;
  }

  .playrepeat-track5 {
    margin-right: 5px;
  }

  .volume_slider5 {
    width: 35px;
  }

  .playpause-track6 {
    margin-left: 5px;
  }

  .seek_slider6 {
    width: 70px;
  }

  .playrepeat-track6 {
    margin-right: 5px;
  }

  .volume_slider6 {
    width: 35px;
  }

  .example-block-elem {
    line-height: 30px;
    font-size: 12px;
  }

  .adaptive-block {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 628px) {
  .text-recording {
    width: 90%;
    font-size: 14px;
    line-height: 20px;
  }

  .with-blue {
    font-size: 12px;
    line-height: 30px;
    color: #74d8e2;
    line-height: 20px;
  }

  .text-description {
    font-size: 14px;
    line-height: 24px;
    width: 90%;
  }
}
@media only screen and (max-width: 428px) {
  .text-recording {
    width: 97%;
    font-size: 14px;
    line-height: 20px;
  }

  .text-description {
    font-size: 12px;
    line-height: 18px;
    width: 94%;
  }
}
.txt-production {
  font-weight: normal;
}

.bg-speak-page {
  height: 439px;
  padding-left: 600px;
}

.general-music {
  margin-top: -50px;
}

#general-play {
  margin-left: 600px;
}

.seek-general {
  width: 100%;
}

#volume-general {
  width: 140px;
}

.repeat-general {
  margin-right: 100px;
}

.container-page {
  width: 360px;
  height: 1152px;
  margin-top: -460px;
  z-index: 0;
  margin-left: 180px;
}

.container-page table {
  margin-top: 0;
}

.bg-image {
  background: linear-gradient(31.25deg, rgba(72, 49, 86, 0.2) 0%, rgba(57, 81, 110, 0.2) 80.3%), url(/silaFM/img/img-page.png);
  border-radius: 4px 4px 0px 0px;
  width: 360px;
  height: 360px;
}

.mesenger-icon {
  position: absolute;
  left: 90%;
  margin-top: 1240px;
  cursor: pointer;
}

.advertise-demo {
  background: rgba(255, 255, 255, 0.07);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  box-sizing: border-box;
  padding: 17px 25px 0px 40px;
  width: 360px;
  height: 45px;
  font-family: Arial;
  text-align: center;
  font-size: 16px;
  line-height: 10px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.advertise-demo svg {
  margin-top: -4px;
  position: absolute;
  cursor: pointer;
  transition: 0.3s;
}
.advertise-demo svg:hover {
  opacity: 0.7;
}
.advertise-demo .icon-prev {
  margin-left: -50px;
}
.advertise-demo .icon-next {
  margin-left: 36px;
}

#music-page {
  width: 360px;
  height: 45px;
  margin-top: 288px;
  padding-top: 336px !important;
  margin-left: -40px;
  background: url(/silaFM/img/filtr.png);
}

#play-icon {
  margin-left: 6px;
  margin-top: 10px;
}

#page-player {
  width: 179px;
  margin-left: 1px;
}

#repeat {
  margin-left: -120px;
  position: absolute;
}

.two-prew {
  margin-left: -73px;
  padding-top: 19px;
}

.two-next {
  margin-left: -40px;
  margin-top: 20px;
  padding-top: 19px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 15px solid #ecf6f8;
  text-align: left;
  padding: 15px 10px;
  background: #FFFFFF;
  font-family: Arial;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #454545;
}

.in-studio-txt {
  width: 110px;
  height: 23px;
  border: 2px solid #74D8E2;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
  letter-spacing: 0.1em;
  padding-top: 3.8px;
  color: #74D8E2;
  padding-right: 15px;
}

.name-speak {
  text-align: left;
  padding-left: 18px;
}

.eclips {
  width: 13px;
  height: 13px;
  background: #74D8E2;
  border-radius: 50%;
  position: absolute;
  margin-top: -0.6px;
  margin-left: 11px;
}

.btn-speaker {
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  width: 325px;
  height: 70px;
  background: linear-gradient(7.45deg, #483156 0%, #39516E 80.3%);
  border-radius: 4px;
  color: #FFFFFF;
  transition: 0.6s ease;
}
.btn-speaker:hover {
  font-size: 21px;
  color: #ecf6f8;
}
.btn-speaker svg {
  margin-left: 30px;
}

.in-one-click {
  color: #423e60;
  font-weight: bold;
  font-family: Arial;
  font-size: 20px;
  text-align: center;
  margin-top: 24px;
  cursor: pointer;
}

.make-older {
  background-color: #ecf6f8;
  padding: 20px 17px;
}

.box-grapfic {
  box-sizing: border-box;
  background: #ECF6F8;
  border-radius: 4px;
  width: 1140px;
  height: 100%;
  margin-left: -50px;
  padding: 67px 39px;
  margin-bottom: 90px;
}

.characteristic {
  margin-top: 80px;
}

.back-to-speakers {
  font-family: Arial;
  margin-left: 36%;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #423e60;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s ease;
}
.back-to-speakers:hover {
  padding-left: 6px;
}

.line-box {
  width: 480px;
  height: 3px;
  background: linear-gradient(0.14deg, #257289 -0.93%, #188191 100%);
  border-radius: 4px;
  display: flex;
  margin-left: 90px;
}

.line-light {
  width: 200px;
  height: 3px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-left: 566px;
  margin-top: -3px;
  display: flex;
}

.ecliple-box {
  position: relative;
  width: 15px;
  height: 15px;
  margin-top: -5px;
  background: linear-gradient(21.34deg, #257289 -0.93%, #188191 100%);
  border-radius: 20px;
  margin-left: 102px;
}
.ecliple-box span {
  position: absolute;
  padding-top: 25px;
  margin-left: -4px;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1e7b8e;
}

.elem1 {
  margin-left: 0px;
}

.ecliple-light {
  background: #FFFFFF;
  border-radius: 20px;
  position: relative;
  width: 15px;
  height: 15px;
  margin-top: -5px;
}
.ecliple-light span {
  position: absolute;
  padding-top: 25px;
  margin-left: -4px;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1e7b8e;
}

.elem3 {
  margin-right: -10px;
  opacity: 0.5;
}

.elem4 {
  margin-right: 0px;
  opacity: 0.5;
}

.hour-box {
  margin-bottom: 60px;
  display: flex;
  margin-left: 29px;
  width: 600px;
  margin-top: 50px;
}
.hour-box div {
  margin-left: 22px;
  font-family: Arial;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #454545;
}

.charak-voice {
  display: flex;
  width: 911px;
  margin-left: 1px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.which-txt {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  color: #1e7b8e;
  text-align: right;
  letter-spacing: 0.05em;
}
.which-txt div {
  margin-bottom: 4.5px;
}

.which-txt-side {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  color: #B6E1E8;
  text-align: left;
  letter-spacing: 0.05em;
}
.which-txt-side div {
  margin-bottom: 4.5px;
}

.serious {
  color: #414162;
}

.container-lines {
  display: flex;
  flex-direction: column;
}

.bold-line {
  width: 620px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-bottom: 18px;
  margin-top: 12px;
}

.other-color {
  background: linear-gradient(2.48deg, #483156 0%, #39516E 80.3%);
  border-radius: 2px;
  border-radius: 2px;
  width: 194px;
  height: 13.85px;
  margin-left: 310px;
}

.color-line {
  background: linear-gradient(1.6deg, #257289 -0.93%, #188191 100%);
  border-radius: 2px;
  width: 194px;
  height: 13.85px;
  margin-left: 116px;
}

@media only screen and (max-width: 1780px) {
  .box-grapfic {
    width: 70%;
    height: 100%;
    margin-left: 20px;
    padding: 67px 39px;
    margin-bottom: 90px;
  }

  .mesenger-icon {
    position: absolute;
    left: 88%;
    margin-top: 940px;
  }
}
@media only screen and (max-width: 1549px) {
  .line-box {
    width: 400px;
    height: 3px;
    margin-left: 20px;
  }

  .line-light {
    width: 180px;
    margin-left: 406px;
  }

  .ecliple-box {
    position: relative;
    width: 15px;
    height: 15px;
    margin-top: -5px;
    margin-left: 77px;
  }

  .elem1 {
    margin-left: 0px;
  }

  .hour-box {
    display: flex;
    margin-left: -19px;
    width: 500px;
    margin-top: 50px;
  }
  .hour-box div {
    margin-left: 11px;
    font-family: Arial;
    font-size: 12px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #454545;
  }

  .charak-voice {
    display: flex;
    width: 400px;
    margin-left: 1px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .which-txt {
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    color: #1e7b8e;
    text-align: right;
    letter-spacing: 0.05em;
  }

  .which-txt-side {
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    color: #B6E1E8;
    text-align: left;
    letter-spacing: 0.05em;
  }

  .bold-line {
    width: 420px;
    background: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 18px;
    margin-top: 12px;
  }

  .other-color {
    width: 104px;
    height: 13.85px;
    margin-left: 270px;
  }

  .color-line {
    width: 104px;
    height: 13.85px;
    margin-left: 116px;
  }
}
@media only screen and (max-width: 1255px) {
  .line-box {
    width: 255px;
    height: 3px;
    margin-left: 10px;
  }

  .line-light {
    width: 90px;
    margin-left: 265px;
  }

  .ecliple-box {
    position: relative;
    width: 15px;
    height: 15px;
    margin-top: -5px;
    margin-left: 45px;
  }

  .elem1 {
    margin-left: 0px;
  }

  .hour-box {
    display: flex;
    margin-left: -5px;
    width: 300px;
    margin-top: 50px;
  }
  .hour-box div {
    margin-left: 10px;
    font-family: Arial;
    font-size: 12px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #454545;
  }

  .charak-voice {
    display: flex;
    width: 300px;
  }

  .which-txt {
    font-size: 12px;
  }

  .which-txt-side {
    font-size: 12px;
  }

  .bold-line {
    width: 280px;
    background: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 18px;
    margin-top: 12px;
  }

  .other-color {
    background: linear-gradient(2.48deg, #483156 0%, #39516E 80.3%);
    border-radius: 2px;
    border-radius: 2px;
    width: 74px;
    height: 13.85px;
    margin-left: 150px;
  }

  .color-line {
    background: linear-gradient(1.6deg, #257289 -0.93%, #188191 100%);
    border-radius: 2px;
    width: 74px;
    height: 13.85px;
    margin-left: 70px;
  }

  .box-grapfic {
    margin-left: -20px;
  }
}
@media only screen and (max-width: 1106px) {
  .container-page {
    width: 360px;
    height: 1152px;
    margin-top: -140px;
    margin-left: 15%;
  }

  #general-play {
    margin-left: 20px;
  }

  .bg-speak-page {
    padding-left: 60px;
  }

  .txt-production {
    margin-top: 20px;
    font-size: 14px;
  }

  .mesenger-icon {
    position: absolute;
    left: 87%;
    width: 77px;
    margin-top: 1040px;
  }

  .box-grapfic {
    height: 100%;
    margin-left: -580px;
    margin-bottom: 190px;
    margin-top: 1100px;
  }
}
@media only screen and (max-width: 1024px) {
  .box-grapfic {
    width: 550px;
  }
}
@media only screen and (max-width: 1009px) {
  .box-grapfic {
    width: 550px;
    margin-left: -800px;
    margin-right: 50px;
  }

  .professional-txt {
    width: 100%;
    font-size: 32px;
  }

  .txt-production {
    width: 100%;
  }

  .sila-fm-txt {
    padding-top: 160px;
  }
}
@media only screen and (max-width: 671px) {
  .box-grapfic {
    width: 400px;
    margin-left: -800px;
    margin-right: 50px;
  }

  .line-box {
    width: 165px;
    height: 3px;
    margin-left: 10px;
  }

  .line-light {
    width: 70px;
    margin-left: 170px;
  }

  .ecliple-box {
    position: relative;
    width: 15px;
    height: 15px;
    margin-top: -5px;
    margin-left: 21px;
  }

  .elem1 {
    margin-left: 0px;
  }

  .hour-box {
    display: flex;
    margin-left: -5px;
    width: 200px;
    margin-top: 50px;
  }
  .hour-box div {
    margin-left: 10px;
    font-family: Arial;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.05em;
  }

  .charak-voice {
    display: flex;
    width: 200px;
  }

  .which-txt {
    font-size: 11px;
  }

  .which-txt-side {
    font-size: 11px;
  }

  .bold-line {
    width: 150px;
    margin-bottom: 18px;
    margin-top: 12px;
  }

  .other-color {
    width: 54px;
    height: 13.85px;
    margin-left: 80px;
  }

  .color-line {
    width: 54px;
    height: 13.85px;
    margin-left: 30px;
  }

  .back-to-speakers {
    font-size: 14px;
  }
  .back-to-speakers svg {
    position: absolute;
    margin-left: -15px;
    margin-top: 5px;
    height: 12px;
  }
}
@media only screen and (max-width: 639px) {
  .container-page {
    margin-left: -1500px;
  }

  .mesenger-icon {
    left: 60%;
  }

  #volume-general {
    width: 60px;
  }

  .repeat-general {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 590px) {
  .professional-txt {
    line-height: 30px;
  }

  .sila-fm-txt {
    padding-top: 120px;
  }
}
@media only screen and (max-width: 540px) {
  .container-page {
    width: 290px;
    margin-bottom: 10px;
    margin-left: 80px;
  }

  .bg-image {
    width: 280px;
    height: 280px;
  }

  .box-grapfic {
    height: 100%;
    margin-left: -280px;
    margin-bottom: 190px;
    margin-top: 800px;
  }

  .advertise-demo {
    padding: 17px 35px 0px 40px;
    width: 280px;
    height: 40px;
    font-size: 14px;
  }

  #music-page {
    width: 280px;
    height: 40px;
    margin-top: 213px;
    margin-left: -40px;
  }

  #play-icon {
    margin-left: 6px;
    margin-top: 10px;
  }

  #page-player {
    width: 109px;
    margin-left: 1px;
    margin-top: 5px;
  }

  #repeat {
    margin-left: -110px;
    position: absolute;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 270px;
  }

  td, th {
    border: 13px solid #ecf6f8;
    padding: 5px 5px;
    font-size: 13px;
  }

  .btn-speaker {
    font-size: 14px;
    line-height: 43px;
    width: 255px;
    height: 60px;
  }
  .btn-speaker:hover {
    font-size: 14px;
    color: #ecf6f8;
  }
  .btn-speaker svg {
    position: absolute;
    margin-top: 7px;
    margin-left: 9px;
  }

  .in-one-click {
    font-size: 15px;
  }

  .mesenger-icon {
    margin-top: 730px;
  }
}
@media only screen and (max-width: 508px) {
  .charak-voice {
    display: flex;
    width: 100px;
  }

  .which-txt {
    letter-spacing: normal;
    font-size: 11px;
  }

  .which-txt-side {
    letter-spacing: normal;
    font-size: 11px;
  }

  .bold-line {
    width: 80px;
    margin-bottom: 18px;
    margin-top: 12px;
  }

  .other-color {
    width: 30px;
    height: 13.85px;
    margin-left: 50px;
  }

  .color-line {
    width: 30px;
    height: 13.85px;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 412px) {
  .box-grapfic {
    margin-left: -300px;
    padding: 27px 25px;
    margin-bottom: 90px;
  }
}
@media only screen and (max-width: 376px) {
  .container-page {
    width: 228px;
    margin-bottom: 10px;
    margin-left: 80px;
  }

  .bg-image {
    background-size: cover;
    width: 225px;
    height: 280px;
  }

  .box-grapfic {
    height: 100%;
    margin-left: -260px;
    margin-bottom: 190px;
    margin-top: 800px;
    padding-left: 30px;
    width: 250px;
  }

  .advertise-demo {
    padding: 17px 10px 0px 10px;
    width: 225px;
    height: 40px;
    font-size: 12px;
  }

  #music-page {
    width: 225px;
    height: 40px;
    margin-top: 213px;
    margin-left: -10px;
  }

  #play-icon {
    margin-left: 6px;
    margin-top: 10px;
  }

  #page-player {
    width: 79px;
    margin-left: 1px;
    margin-top: 5px;
  }

  #repeat {
    display: none;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 210px;
  }

  td, th {
    border: 3px solid #ecf6f8;
    padding: 10px 2px;
    font-size: 12px;
  }

  .btn-speaker {
    font-size: 12px;
    line-height: 43px;
    width: 185px;
    padding-right: 30px;
    height: 60px;
  }
  .btn-speaker:hover {
    font-size: 12px;
    color: #ecf6f8;
  }
  .btn-speaker svg {
    position: absolute;
    margin-top: 7px;
    margin-left: 9px;
  }

  .line-box {
    width: 125px;
    height: 3px;
    margin-left: 10px;
  }

  .line-light {
    width: 60px;
    margin-left: 125px;
  }
  .line-light span {
    font-size: 11px;
    color: #B6E1E8;
  }

  .ecliple-box {
    position: relative;
    width: 15px;
    height: 15px;
    margin-top: -5px;
    margin-left: 15px;
  }
  .ecliple-box span {
    font-size: 11px;
  }

  .elem1 {
    margin-left: 0px;
  }

  .bold-line {
    width: 60px;
    margin-bottom: 18px;
    margin-top: 12px;
  }

  .other-color {
    width: 15px;
    height: 13.85px;
    margin-left: 30px;
  }

  .color-line {
    width: 15px;
    height: 13.85px;
    margin-left: 10px;
  }

  .adapt-text {
    margin-left: 20px;
  }

  .back-to-speakers {
    font-size: 13px;
    margin-left: 105px;
  }
}
.voice-sound {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
}

.sound-element {
  margin-left: 20px;
  margin-top: 20px;
  width: 300px;
  height: 300px;
  background-size: cover;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background: linear-gradient(128.36deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(47, 61, 83, 0.8) 22.66%, rgba(17, 48, 62, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%), url(../img-audio/homer.jpg) no-repeat;
  transition: 0.2s ease;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.5);
}
.sound-element:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: none;
}

.jeck_horob {
  background: linear-gradient(128.36deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(47, 61, 83, 0.8) 22.66%, rgba(17, 48, 62, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%), url(../img-audio/jack_horob.jpg) no-repeat;
}

.legolas {
  background: linear-gradient(128.36deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(47, 61, 83, 0.8) 22.66%, rgba(17, 48, 62, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%), url(../img-audio/legolas.jpg) no-repeat;
}

.harli {
  background: linear-gradient(128.36deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(47, 61, 83, 0.8) 22.66%, rgba(17, 48, 62, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%), url(../img-audio/harley_quin_shitova.jpg) no-repeat;
}

.geleznuy {
  background: linear-gradient(128.36deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(47, 61, 83, 0.8) 22.66%, rgba(17, 48, 62, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%), url(../img-audio/zheleznyy-chelovek.jpg) no-repeat;
}

.agent {
  background: linear-gradient(128.36deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(47, 61, 83, 0.8) 22.66%, rgba(17, 48, 62, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%), url(../img-audio/man_in_black.jpg) no-repeat;
}

.who-sound {
  margin-top: 60px;
}

.txt-who-sound {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 220px;
  color: #C7DEE1;
}

#sound-voices {
  background-color: transparent;
}

#soundV-icon {
  margin-left: 120px;
  margin-top: -40px;
}

#seek-sound {
  display: none;
}

.sound-playlist {
  width: 100%;
  margin-left: 0px;
  margin-top: 170px;
  position: absolute;
}

@media only screen and (max-width: 1599px) {
  .voice-sound {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    margin-left: -20px;
  }

  .sound-element {
    margin-left: 20px;
    margin-top: 20px;
    width: 220px;
    height: 220px;
    background-size: cover;
  }

  .txt-who-sound {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 160px;
    width: 150px;
    color: #C7DEE1;
  }

  #soundV-icon {
    margin-left: 78px;
    margin-top: -99px;
  }
}
@media only screen and (max-width: 1339px) {
  .voice-sound {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin-left: -20px;
  }

  .sound-element {
    margin-left: 20px;
    margin-top: 20px;
    width: 220px;
    height: 220px;
    background-size: cover;
  }

  .txt-who-sound {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 160px;
    width: 150px;
    color: #C7DEE1;
  }

  #soundV-icon {
    margin-left: 74px;
    margin-top: -90px;
  }
}
@media only screen and (max-width: 671px) {
  .voice-sound {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 491px) {
  .sound-element {
    margin-left: 20px;
    margin-top: 20px;
    width: 180px;
    height: 180px;
    background-size: cover;
  }

  .txt-who-sound {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center;
    padding-top: 140px;
    width: 100px;
    color: #C7DEE1;
  }

  #soundV-icon {
    margin-left: 55px;
    margin-top: -120px;
  }

  .adaptplay {
    margin-left: 10px;
  }
}
.container-page-slide2 {
  display: none;
  width: 360px;
  border: 1px solid black;
}

.bg-sound-page {
  padding-left: 195px;
  height: 380px;
  background: linear-gradient(119.3deg, rgba(74, 51, 91, 0.6) -10.09%, rgba(47, 61, 83, 0.6) 22.66%, rgba(17, 48, 62, 0.6) 58.86%, rgba(76, 50, 90, 0.6) 98.42%), url(../img-audio/bg-voice.png) no-repeat;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-size: cover;
}

.background-fix {
  height: 60px;
}

.voice-film {
  width: 790px;
  margin-left: 0px;
  text-transform: uppercase;
}

.page-voice {
  display: flex;
  flex-wrap: wrap;
  width: 1470px;
  margin-top: -70px;
}
.page-voice div {
  margin-top: 30px;
  margin-left: 30px;
}

.bnt-order-sound {
  width: 120px;
  height: 50px;
  font-family: Arial;
  font-weight: bold;
  background: #671627;
  border: 2px solid #711F30;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  color: #FFFFFF;
  margin-left: 120px;
  margin-top: 27px;
  transition: 0.3s ease;
}
.bnt-order-sound:hover {
  cursor: pointer;
  color: #711F30;
  background: #FFFFFF;
  border: 2px solid #671627;
}

.daineris {
  background: linear-gradient(128.36deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(47, 61, 83, 0.8) 22.66%, rgba(17, 48, 62, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%), url(../img-audio/deineris.jpg) no-repeat;
}

.logan {
  background: linear-gradient(128.36deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(47, 61, 83, 0.8) 22.66%, rgba(17, 48, 62, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%), url(../img-audio/logan.jpg) no-repeat;
}

.jonson {
  background: linear-gradient(128.36deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(47, 61, 83, 0.8) 22.66%, rgba(17, 48, 62, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%), url(../img-audio/The-Rock.jpg) no-repeat;
}

.forsage {
  background: linear-gradient(128.36deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(47, 61, 83, 0.8) 22.66%, rgba(17, 48, 62, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%), url(../img-audio/forsage.jpg) no-repeat;
}

.shreck {
  background: linear-gradient(128.36deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(47, 61, 83, 0.8) 22.66%, rgba(17, 48, 62, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%), url(../img-audio/shrek.jpg) no-repeat;
}

.kit {
  background: linear-gradient(128.36deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(47, 61, 83, 0.8) 22.66%, rgba(17, 48, 62, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%), url(../img-audio/kotvsapogah.jpg) no-repeat;
}

.box-btn-voice {
  margin: 0px;
  padding: 0px;
}

.txt-example {
  width: 1400px;
  margin-top: -100px;
}

@media only screen and (max-width: 1824px) {
  .bg-sound-page {
    padding-left: 60px;
  }
}
@media only screen and (max-width: 1608px) {
  .txt-example {
    width: 1120px;
  }

  .page-voice {
    width: 1120px;
  }
  .page-voice div {
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media only screen and (max-width: 1599px) {
  .page-voice {
    width: 1120px;
  }
  .page-voice div {
    margin-top: 30px;
    margin-left: 30px;
  }

  .bnt-order-sound {
    width: 120px;
    height: 50px;
    font-size: 16px;
    margin-left: 80px;
  }

  .txt-example {
    width: 1000px;
  }
}
@media only screen and (max-width: 1237px) {
  .page-voice {
    width: 890px;
  }
  .page-voice div {
    margin-top: 30px;
    margin-left: 30px;
  }

  .txt-example {
    width: 790px;
  }
}
@media only screen and (max-width: 1006px) {
  .page-voice {
    width: 88%;
  }
  .page-voice div {
    margin-top: 30px;
    margin-left: 30px;
  }

  .txt-example {
    width: 73%;
  }
}
@media only screen and (max-width: 951px) {
  .page-voice {
    width: 580px;
  }
}
@media only screen and (max-width: 853px) {
  .voice-film {
    width: 400px;
    font-size: 30px;
  }

  .txt-example {
    width: 200px;
    margin-left: 110px;
  }
}
@media only screen and (max-width: 668px) {
  .page-voice {
    width: 320px;
  }
}
@media only screen and (max-width: 590px) {
  .bg-sound-page {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 495px) {
  .voice-film {
    width: 290px;
    font-size: 25px;
    line-height: 29px;
  }
}
@media only screen and (max-width: 491px) {
  .bnt-order-sound {
    width: 110px;
    height: 40px;
    font-size: 14px;
    margin-left: 65px;
  }
}
@media only screen and (max-width: 480px) {
  .txt-forexample {
    width: 130px;
    margin-left: 12px;
  }

  .page-voice {
    width: 240px;
  }
}
.bg-games-page {
  padding-left: 195px;
  height: 440px;
  background: linear-gradient(119.3deg, rgba(74, 51, 91, 0.6) -10.09%, rgba(47, 61, 83, 0.6) 22.66%, rgba(17, 48, 62, 0.6) 58.86%, rgba(76, 50, 90, 0.6) 98.42%), url(../img-audio/games.png) no-repeat;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-size: cover;
}

.txt-games {
  text-transform: uppercase;
}

@media only screen and (max-width: 1824px) {
  .bg-games-page {
    padding-left: 60px;
  }
}