.about-us {
  padding-top: 502px;
  padding-bottom: 200px;
  background-color: #ecf6f8;
  margin-top: -420px;
  padding-bottom: 530px;
}
.icon-message {
  margin-right: 26px;
  padding-top: 420px;
  float: right;
  cursor: pointer;
  svg {
    margin-top: -80px;
  }
}

.box-about-us {
  display: flex;
  width: 80%;
  padding-top: 373px !important;
  justify-content: space-between;
  padding-left: 160px;
}
.box-about-element {
  padding-right: 70px;
  padding-left: 10px;
}
.box-about-element-text{
  // padding-left: 80px;
  -webkit-column-width: 300px;
  -moz-column-width: 300px;
  column-width: 300px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  -webkit-column-rule: 1px solid transparent;
  -moz-column-rule: 1px solid transparent;
  column-rule: 1px solid transparent;
}
.box-about-element-text p{
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #454545;
}

.txt-about-us {
  font-family: Arial;
  width: 239px;
  height: 80px;
  margin-left: 0px;
  padding: 41px 0px 29px 0px;
  font-weight: bold;
  font-size: 29px;
  line-height: 40px;
  background: linear-gradient(11.48deg, #483156 0%, #39516e 80.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info-about-us {
  width: 490px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #454545;
}
#show {
  transition: 0.9s ease;
}
#showThird {
  transition: 0.9s ease;
}
#showFour {
  transition: 0.9s ease;
  margin-top: -300px;
}
.info-about-last {
  width: 420px;
  padding-top: 149px;
  margin-left: -50px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #454545;
}
.hr-for-slider {
  width: 93px;
  height: 3px;
  background-color: #39516e;
  float: left;
  border: none;
}
.sim-slider {
  width: 438px;
  height: 321px;
  padding: 30px 50px;
  background: linear-gradient(23.98deg, #483156 0%, #39516e 80.3%);
  border-radius: 4px;
  z-index: 0;
}
.sim-slider {
  position: relative;
}
.sim-slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.sim-slider-element {
  width: 438px;
  height: 321px;
  font-family: Arial;
  padding-top: 31px;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c7dee1;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
  svg {
    padding-top: 28px;
    width: 105px;
    height: 105px;
  }
  .about-svg-slider {
    margin-top: 33px;
  }
}

div.sim-slider-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 31px;
  z-index: 3;
  text-align: center;
}

span.sim-dot {
  width: 31px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background: #c7dee1;
  border: 1px solid #c7dee1;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}
.box-with-speakers {
  padding-left: 42px;
  width: 77%;
  margin-top: 183px;
  padding-top: 54px;
  background: linear-gradient(115.33deg, #4a335b -10.09%, #2f3d53 22.66%, #11303e 58.86%, #4c325a 98.42%);
  border-radius: 4px;
}
.text-recording {
  width: 588px;
  margin: 0;
  font-family: Arial;
  font-weight: bold;
  font-size: 29px;
  line-height: 39px;
  text-transform: uppercase;
  color: #c7dee1;
}
.img-speakers {
  float: right;
  margin-top: -210px;
  margin-right: -62px;
}

.text-description {
  margin: 0;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  width: 588px;
  color: #c7dee1;
  padding-top: 35px;
}
.with-blue {
  font-size: 18px;
  line-height: 30px;
  color: #74d8e2;
}
.speakers-btn {
  margin-bottom: 68px;
}

.svg-animation {
  width: 100%;
  margin-top: -300px;
  z-index: -1;
  position: absolute;
  path {
    stroke-dasharray: 1000;
    animation: dash 5s linear;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 2000;
    }
  }
}

@media only screen and (max-width: 1843px) {
  .box-about-us {
    padding-left: 78px;
    width: 88%;
    padding-bottom: 100px;
    justify-content: space-between;
  }
  .box-about-element {
    padding-right: 20px;
  }
  .info-about-us {
    width: 100%;
    font-family: Arial;
  }
  .info-about-last {
    width: 100%;
    padding-top: 149px;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 1636px){
.box-about-us{
  flex-direction: column;
}
}
@media only screen and (max-width: 1694px) {
  .text-recording {
    width: 500px;
    font-size: 25px;
    white-space: nowrap;
  }
  .img-speakers {
    float: right;
    margin-top: -210px;
    margin-right: -62px;
  }

  .text-description {
    font-size: 20px;
    line-height: 30px;
    width: 450px;
  }
}

@media only screen and (max-width: 1548px) {
  .speakers-btn {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .img-speakers {
    margin-top: -205px;
    margin-right: -92px;
  }
  .text-recording {
    width: 300px;
    font-size: 24px;
  }
  .text-description {
    font-size: 20px;
    line-height: 30px;
    width: 390px;
  }
}
@media only screen and (max-width: 1530px) {
  .speakers-btn {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .img-speakers {
    margin-top: -185px;
    margin-right: -92px;
    width: 730px;
    height: 640px;
  }
  .text-recording {
    width: 300px;
    font-size: 24px;
  }
  .text-description {
    font-size: 20px;
    line-height: 30px;
    width: 390px;
  }
}
@media only screen and (max-width: 1509px) {
  .img-speakers {
    margin-top: -125px;
  }
}

@media only screen and (max-width: 1379px) {
   .img-speakers {
    margin-top: -105px;
    width: 710px;
    height: 620px;
  }
  .speakers-btn {
    position: absolute;
  }
  .box-with-speakers {
    padding-left: 42px;
    width: 77%;
    margin-top: 183px;
    padding-top: 54px;
    padding-bottom: 120px;
    background: linear-gradient(115.33deg, #4a335b -10.09%, #2f3d53 22.66%, #11303e 58.86%, #4c325a 98.42%);
    border-radius: 4px;
  }
}

@media only screen and (max-width: 1347px) {
  .about-us {
    padding-top: 502px;
    background-color: white;
  }
}

@media only screen and (max-width: 1319px) {
  .about-us {
    padding-top: 902px;
    background-color: white;
  }
  .box-about-us {
    padding-left: 78px;
    width: 88%;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
  }
  .box-about-element {
    padding-right: 20px;
  }
  .info-about-us {
    font-size: 15px;
    line-height: 22px;
  }
  .info-about-last {
    line-height: 22px;
  }
}
@media only screen and (max-width: 1221px) {
  .box-about-us {
    flex-wrap: wrap;
  }
  .info-about-us {
    width: 499px;
    font-size: 15px;
  }
  .info-about-last {
    width: 499px;
    font-size: 15px;
  }
  .box-about-element {
    padding-bottom: 40px;
  }
  .img-speakers {
    margin-top: -85px;
    width: 610px;
    height: 520px;
  }
  .text-recording {
    width: 500px;
    font-size: 24px;
  }
  .text-description {
    font-size: 20px;
    line-height: 30px;
    width: 590px;
  }
  .about-us {
    padding-bottom: 300px;
  }
}

@media only screen and (max-width: 1181px) {
  .info-about-last {
    width: 490px;
    line-height: 22px;
    margin-top: -30px;
  }
  .img-speakers {
    margin-top: -30px;
    width: 510px;
    height: 420px;
  }
  .info-about-us {
    margin-top: -30px;
  }
}
@media only screen and (max-width: 1169px) {
  .info-about-last {
   
    margin-top: -160px;
  }
 
}
@media only screen and (max-width: 1087px) {
  .img-speakers {
    display: none;
  }
  .text-recording {
    width: 80%;
    font-size: 24px;
  }
  .text-description {
    font-size: 20px;
    line-height: 30px;
    width: 70%;
  }
  .speakers-btn {
    position: none;
  }
  .box-with-speakers {
    width: 66%;
  }
  .icon-message {
 
   margin-left: 70%;
    position: absolute;
    svg {
      margin-top: 195px;
    }
  }
  
}
@media only screen and (max-width: 843px) {
  .box-with-speakers {
    width: 66%;
  }
  .text-recording {
    width: 90%;
    font-size: 18px;
    white-space: pre-wrap;
    line-height: 24px;
  }
  .text-description {
    font-size: 14px;
    line-height: 24px;
    width: 90%;
  }
  .with-blue {
    font-size: 14px;
    line-height: 30px;
    color: #74d8e2;
    line-height: 24px;
  }
  .txt-about-us{
    font-size: 20px;
    line-height: 30px;
  }
  .box-about-us {
    width: 80%;
  }
  .sim-slider {
    width: 338px;
    height: 321px;
    padding: 30px 20px;
 
  }
  .sim-slider-element {
    width: 338px;
    height: 221px;
  }
  .info-about-us {
    width: 375px;
    font-size: 15px;
  }
  .info-about-last {
    width: 375px;
    font-size: 15px;
  }
  .icon-message {
 
 
 svg{
  width: 100px;
 }
   }
}
@media only screen and (max-width: 663px) {
  
  .sim-slider {
    width: 238px;
    height: 221px;
    padding: 10px 20px;
  }
  .sim-slider-element {
    width: 240px;
    padding-top: 17px;
    font-size: 16px;
    line-height: 20px;
    svg {
      width: 50px;
      padding-top: 5px;
    }
    .about-svg-slider {
      margin-top: 19px;
    }
  }
  span.sim-dot {
    width: 21px;
    height: 8px;
    margin: 5px 5px;
  }

  .box-about-element {
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .box-with-speakers {
    width: 55%;
    padding-left: 22px;
    .home-btn {
      font-size: 16px;
      width: 220px;
      margin-left: -5px;
    }
  }
  .txt-about-us{
    font-size: 18px;
    line-height: 20px;
  }
  .info-about-us {
    width: 99%;
    font-size: 12px;
    line-height: 20px;
  }
  .info-about-last {
    width: 99%;
    font-size: 12px;
    line-height: 20px;
  }
  
}

@media only screen and (max-width: 629px) {
.about-us {
  padding-top: 1900px;
}
 
}
@media only screen and (max-width: 538px) {
  .box-with-speakers {
    margin-left: 120px;
    padding-left: 22px;
  }
  .text-recording {
    width: 90%;
    font-size: 14px;
    line-height: 20px;
  }
  .with-blue {
    font-size: 12px;
    line-height: 30px;
    color: #74d8e2;
    line-height: 20px;
  }

  .text-description {
    font-size: 14px;
    line-height: 24px;
    width: 90%;
  }
  .box-with-speakers {
    width: 65%;
  }
  .about-us {
    padding-top: 1982px;
 
  }
}

@media only screen and (max-width: 490px) {
  
  .txt-about-us {
    width: 80%;
    height: 80px;
    margin-left: 0px;
    padding: 41px 0px 29px 0px;
  
  }
  .info-about-us {
    width: 90%;
    font-size: 14px;
    line-height: 25px;
    margin-top: -30px;
    margin-left: 0px ;
  }
  .info-about-last {
    width: 90%;
    padding-top: 149px;
    line-height: 25px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 428px) {
  .text-recording {
    width: 97%;
    font-size: 14px;
    line-height: 20px;
 
  }
  .text-description {
    font-size: 12px;
    line-height: 18px;
    width: 94%;
  }
 
  .box-with-speakers {
    margin-left: 90px;
    .home-btn {
      font-size: 14px;
      width: 190px;
      height: 50px;
      margin-left: -5px;
    }
  }
  .info-about-us {
    font-size: 12px;
    line-height: 20px;
 
  }
  .info-about-last {
    line-height: 20px;
    font-size: 12px;
  }
  .icon-message {
 
    margin-left: 60%;
 
   }
   .sim-slider {
    width: 190px;
    height: 201px;
    padding: 10px 20px;
  }
  .sim-slider-element {
    width: 195px;
    padding-top: 17px;
    font-size: 16px;
    line-height: 20px;
    svg {
      width: 50px;
      padding-top: 0px;
    }
  }
  span.sim-dot {
    width: 15px;
    height: 8px;
  margin-top: 25px;
  margin-bottom: 0px;
  }
  .box-about-us {
    width: 70%;
  }
}

@media only screen and (max-width: 359px) {
  .sim-slider {
    width: 160px;
    height: 201px;
    padding: 10px 20px;
  }
  .sim-slider-element {
    width: 165px;
    padding-top: 17px;
    font-size: 16px;
    line-height: 20px;
  
    svg {
      width: 50px;
      padding-top: 0px;
    }
  }
  .icon-message {
 
    margin-left: 70%;
 svg{
  width: 60px;
 }
   }
}
@media (max-width: 1348px){
  .box-about-us{
    margin-top: 521px;
  }
}
@media (max-width: 668px){
  .box-about-us{
    margin-top: 850px;
  }
}

@media (max-width: 740px){
  .icon-message {
    padding-top: 528px;
  }
}
@media (max-width: 645px){
  .icon-message {
    margin-left: 3%;
  }
}
@media (max-width: 425px){
  .box-about-element {
   padding-left: 0;
  }
}
@media (max-width: 377px){
  
}