.active-speakers {
  color: #671627;
}
.speak-page {
  background: linear-gradient(
      119.38deg,
      rgba(74, 51, 91, 0.8) -10.09%,
      rgba(47, 61, 83, 0.8) 22.66%,
      rgba(17, 48, 62, 0.8) 58.86%,
      rgba(76, 50, 90, 0.8) 98.42%
    ),
    url(../img/bg-speakers.png);
  backdrop-filter: blur(2px);
  background-repeat: no-repeat;
  height: 631px;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  padding-left: 60px;
  font-family: Arial;
  color: #c7dee1;
}
span #sprakers-stick{
  margin-top: -10px !important;
}
.mySlides {display: none}
.info-pay {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;

  color: #454545;
  b {
    color: #423e60;
    font-weight: bold;
  }
}
.professional-txt {
  line-height: 55px;
}
.txt-audioslot {
  text-transform: uppercase;
}
.playlist-element {
  width: 460px;
  height: 249px;
}
.txt-visa-free {
  width: 386px;
  height: 80px;
  position: absolute;
  margin-bottom: 20px;
}
.icon-playlist {
  position: absolute;
  margin-left: 385px;
  margin-top: -5px;
}
.voices-people {
  margin-bottom: 50px;
  margin-top: 70px;
}
.for-margin-t {
  padding-top: 20px;
  margin-bottom: 30px;
}
.man-icon {
  margin-left: 330px;
}

.bg-white {
  width: 100%;
  height: 580px;
  background-color: white;
  margin-top: -570px;
}
.actors {
  padding: 153px 197px;
  background: #ecf6f8;
  border-radius: 4px;
}
.box-actors {
  width: 1531px;
}

@media only screen and (max-width: 1790px) {
  .adaptive-block {
    display: flex;
  }
  .playlist-element {
    width: 360px;
    height: 229px;
  }
  .container-playlist {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial;
    margin-top: 74px;
    width: 1140px;
  }
  .example-block {
    width: 1040px;
  }
  .txt-visa-free {
    font-size: 20px;
    width: 240px;
    letter-spacing: normal;
    line-height: 29px;
  }
  .icon-playlist {
    margin-left: 290px;
  }
  .man-icon {
    margin-left: 235px;
  }
}

.choose-lgs {
  position: absolute;

  margin-top: -125px;
  margin-left: 340px;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
  font-family: Arial;
  margin-left: 200px;
}
.custom-select-wrapper select {
  display: none;
}
.custom-selects {
  position: relative;
  display: inline-block;
}
.custom-select-trigger {
  position: relative;
  display: block;
  width: 470px;
  height: 70px;
  box-sizing: border-box;
  padding: 7px 84px 0 17px;
  color: #fff;
  line-height: 60px;
  background: #ffffff;
  border-radius: 4px;
  color: #414162;
  cursor: pointer;
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid #414162;
  border-right: 1px solid #414162;
  transform: rotate(45deg) translateY(-50%);
  transition: all 0.4s ease-in-out;
  transform-origin: 50% 0;
}
.custom-selects.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
  display: block;

  margin: 15px 0;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
  background: #fff;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}
.custom-selects.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}
.custom-options:before {
  position: absolute;
  display: block;
  content: "";
  bottom: 100%;
  right: 25px;
  width: 7px;
  height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  background: #fff;
  transform: rotate(45deg);
  transition: all 0.4s ease-in-out;
}
.option-hover:before {
  background: #ffffff;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  border-bottom: 1px solid #ebebeb;
  font-size: 18px;
  font-weight: 600;
  color: #423e60;
  line-height: 47px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
  background: #e7f3f5;
}

.search-input {
  width: 430px;
  height: 70px;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  padding-left: 17px;
  font-size: 18px;
  line-height: 36px;
  font-family: Arial;
  color: #414162;
}
.search-input::placeholder {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #414162;
  letter-spacing: 0.05em;
}
.hr-underspeak {
  position: absolute;
  border: 1px solid #671627;
  width: 111px;
  margin-top: -36px;
}
.search-btn {
  position: absolute;
  border: none;
  background-color: white;
  height: 70px;
  padding-right: 20px;
  cursor: pointer;
}
.box-inputs {
  margin-top: -124px;
  margin-left: 1020px;
}

table {
  margin-top: 83px;
  border-collapse: collapse;
  width: 100%;
  font-family: Arial;
}

td,
th {
  border: 1px solid #74d8e2;
}
td {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 36px;
  color: #414162;
  letter-spacing: 0.05em;
  background: #ffffff;
  cursor: pointer;
}
th {
  text-align: left;
  background: linear-gradient(2.16deg, #483156 0%, #39516e 80.3%);
  border-radius: 4px 4px 0px 0px;
  height: 95px;
  font-weight: bold;
  font-size: 16px;
  line-height: 36px;
  padding-top: 53px;
  padding-left: 17px;
  padding-right: 10px;
  letter-spacing: 0.05em;
  box-sizing: border-box;
  color: #74d8e2;
}

.pages-box {
  display: none;
}
@media only screen and (max-width: 1379px) {
  #btn-know-speak {
    margin-left: 440px;
  }
}
@media only screen and (max-width: 1363px) {
  .last-tr {
    display: none;
  }
  .adapt-left {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 36px;

    letter-spacing: 0.05em;
    padding-top: 20px;
    color: #74d8e2;
  }
  .pages-box {
    display: block;
  }
}

@media only screen and (max-width: 1270px) {
  .box-with-speakers {
    height: 400px;
  }

  .modal-btn-speakers {
    margin-top: 120px;
  }
  .box-with-speakers {
    height: 400px;
  }
  #btn-know-speak {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 1289px) {
  .adaptive-block {
    display: flex;
    flex-wrap: wrap;
  }
  .container-playlist {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial;
    margin-top: 74px;
    width: 760px;
  }
  .example-block {
    width: 80%;
  }
  .adaptive-block {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1200px) {
  th {
    font-weight: bold;
    font-size: 13px;
    line-height: 23px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 6px;
    letter-spacing: normal;
  }
  td {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: normal;
  }
}

@media only screen and (max-width: 965px) {
  .container-playlist {
    width: 400px;
  }
}
@media only screen and (max-width: 500px) {
  .container-playlist {
    width: 300px;
  }
}
@media only screen and (max-width: 942px) {
  .container-table {
    margin-top: 53px;
    width: 90%;

    overflow-x: scroll;
  }
  .eclips {
    display: none;
  }
  .in-studio-txt {
    width: 90px;

    font-size: 12px;
    line-height: 12px;
    text-align: center;

    padding-right: 0;
  }
  .for-order {
    color: #e2c374;
    border: 2px solid #e2c374;
    padding-right: 0;
    text-align: center;
  }
}
.play-music {
  width: 376px;
}
.audio-playlist {
  width: 376px;
  height: 53px;
  margin-left: 0px;
  margin-top: 0px;
  background: #ffffff;
}
.download-icon {
  position: absolute;
  margin-top: 13px;
  margin-left: -27px;
}
.in-studio-txt {
  width: 110px;
  height: 23px;
  border: 2px solid #74d8e2;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
  letter-spacing: 0.1em;
  padding-top: 3.8px;
  color: #74d8e2;
  padding-right: 15px;
}

.eclips {
  width: 13px;
  height: 13px;
  background: #74d8e2;
  border-radius: 50%;
  position: absolute;
  margin-top: -0.6px;
  margin-left: 11px;
}
.for-order {
  color: #e2c374;
  border: 2px solid #e2c374;
  padding-right: 10px;
}
.for-order-e {
  background-color: #e2c374;
}
.buy-icon {
  margin-top: 10px;
  cursor: pointer;
}

.seek_slider1,
.volume_slider1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: linear-gradient(
    179.42deg,
    rgba(74, 51, 91, 0.8) -10.09%,
    rgba(58, 79, 110, 0.8) 22.66%,
    rgba(43, 99, 123, 0.8) 58.86%,
    rgba(76, 50, 90, 0.8) 98.42%
  );
  -webkit-transition: 0.9s;
  transition: opacity 0.9s;
}

.seek_slider1::-webkit-slider-thumb,
.volume_slider1::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: url(/silaFM/img/table-go.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.playpause-track1 {
  width: 25px;
  margin-left: 20px;
  margin-top: 14px;
  margin-right: 13px;
  cursor: pointer;
}
.seek_slider1 {
  width: 162px;
}
.icon-volume-audio {
  margin-left: 20px;
}
.playrepeat-track1 {
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}
.volume_slider1 {
  width: 60px;
  margin-left: -30px;
  cursor: pointer;
}
.active {
  svg {
    fill: #74d8e2;
  }
}
.active2 {
  svg {
    fill: #74d8e2;
  }
}
.active3 {
  svg {
    fill: #74d8e2;
  }
}
.active4 {
  svg {
    fill: #74d8e2;
  }
}
.active5 {
  svg {
    fill: #74d8e2;
  }
}
.active6 {
  svg {
    fill: #74d8e2;
  }
}

.seek_slider2,
.volume_slider2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: linear-gradient(
    179.42deg,
    rgba(74, 51, 91, 0.8) -10.09%,
    rgba(58, 79, 110, 0.8) 22.66%,
    rgba(43, 99, 123, 0.8) 58.86%,
    rgba(76, 50, 90, 0.8) 98.42%
  );
  -webkit-transition: 0.9s;
  transition: opacity 0.9s;
}

.seek_slider2::-webkit-slider-thumb,
.volume_slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: url(/silaFM/img/table-go.png);
  cursor: pointer;
}

.playpause-track2 {
  width: 25px;
  margin-left: 20px;
  margin-top: 14px;
  margin-right: 13px;
  cursor: pointer;
}
.seek_slider2 {
  width: 162px;
}
.playrepeat-track2 {
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}
.volume_slider2 {
  width: 60px;
  margin-left: -30px;
  cursor: pointer;
}

.seek_slider3,
.volume_slider3 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: linear-gradient(
    179.42deg,
    rgba(74, 51, 91, 0.8) -10.09%,
    rgba(58, 79, 110, 0.8) 22.66%,
    rgba(43, 99, 123, 0.8) 58.86%,
    rgba(76, 50, 90, 0.8) 98.42%
  );
  -webkit-transition: 0.9s;
  transition: opacity 0.9s;
}

.seek_slider3::-webkit-slider-thumb,
.volume_slider3::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: url(/silaFM/img/table-go.png);
  cursor: pointer;
}

.playpause-track3 {
  width: 25px;
  margin-left: 20px;
  margin-top: 14px;
  margin-right: 13px;
  cursor: pointer;
}
.seek_slider3 {
  width: 162px;
}
.playrepeat-track3 {
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}
.volume_slider3 {
  width: 60px;
  margin-left: -30px;
  cursor: pointer;
}

.seek_slider4,
.volume_slider4 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: linear-gradient(
    179.42deg,
    rgba(74, 51, 91, 0.8) -10.09%,
    rgba(58, 79, 110, 0.8) 22.66%,
    rgba(43, 99, 123, 0.8) 58.86%,
    rgba(76, 50, 90, 0.8) 98.42%
  );
  -webkit-transition: 0.9s;
  transition: opacity 0.9s;
}

.seek_slider4::-webkit-slider-thumb,
.volume_slider4::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: url(/silaFM/img/table-go.png);
  cursor: pointer;
}

.playpause-track4 {
  width: 25px;
  margin-left: 20px;
  margin-top: 14px;
  margin-right: 13px;
  cursor: pointer;
}
.seek_slider4 {
  width: 162px;
}
.playrepeat-track4 {
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}
.volume_slider4 {
  width: 60px;
  margin-left: -30px;
  cursor: pointer;
}

.seek_slider5,
.volume_slider5 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: linear-gradient(
    179.42deg,
    rgba(74, 51, 91, 0.8) -10.09%,
    rgba(58, 79, 110, 0.8) 22.66%,
    rgba(43, 99, 123, 0.8) 58.86%,
    rgba(76, 50, 90, 0.8) 98.42%
  );
  -webkit-transition: 0.9s;
  transition: opacity 0.9s;
}

.seek_slider5::-webkit-slider-thumb,
.volume_slider5::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: url(/silaFM/img/table-go.png);
  cursor: pointer;
}

.playpause-track5 {
  width: 25px;
  margin-left: 20px;
  margin-top: 14px;
  margin-right: 13px;
  cursor: pointer;
}
.seek_slider5 {
  width: 162px;
}
.playrepeat-track5 {
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}
.volume_slider5 {
  width: 60px;
  cursor: pointer;
  margin-left: -30px;
}

.seek_slider6,
.volume_slider6 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: linear-gradient(
    179.42deg,
    rgba(74, 51, 91, 0.8) -10.09%,
    rgba(58, 79, 110, 0.8) 22.66%,
    rgba(43, 99, 123, 0.8) 58.86%,
    rgba(76, 50, 90, 0.8) 98.42%
  );
  -webkit-transition: 0.9s;
  transition: opacity 0.9s;
}

.seek_slider6::-webkit-slider-thumb,
.volume_slider6::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: url(/silaFM/img/table-go.png);
  cursor: pointer;
}

.playpause-track6 {
  width: 25px;
  margin-left: 20px;
  margin-top: 14px;
  margin-right: 13px;
  cursor: pointer;
}
.seek_slider6 {
  width: 162px;
}
.playrepeat-track6 {
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}
.volume_slider6 {
  width: 60px;
  margin-left: -30px;
  cursor: pointer;
}

.seek_slider7,
.volume_slider7 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: linear-gradient(
    179.42deg,
    rgba(74, 51, 91, 0.8) -10.09%,
    rgba(58, 79, 110, 0.8) 22.66%,
    rgba(43, 99, 123, 0.8) 58.86%,
    rgba(76, 50, 90, 0.8) 98.42%
  );
  -webkit-transition: 0.9s;
  transition: opacity 0.9s;
}

.seek_slider7::-webkit-slider-thumb,
.volume_slider7::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: url(/silaFM/img/table-go.png);
  cursor: pointer;
}

.playpause-track7 {
  width: 25px;
  margin-left: 20px;
  margin-top: 14px;
  margin-right: 13px;
  cursor: pointer;
}
.seek_slider7 {
  width: 162px;
}
.playrepeat-track7 {
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}
.volume_slider7 {
  width: 60px;
  margin-left: -30px;
  cursor: pointer;
}

.seek_slider8,
.volume_slider8 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: linear-gradient(
    179.42deg,
    rgba(74, 51, 91, 0.8) -10.09%,
    rgba(58, 79, 110, 0.8) 22.66%,
    rgba(43, 99, 123, 0.8) 58.86%,
    rgba(76, 50, 90, 0.8) 98.42%
  );
  -webkit-transition: 0.9s;
  transition: opacity 0.9s;
}

.seek_slider8::-webkit-slider-thumb,
.volume_slider8::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: url(/silaFM/img/table-go.png);
  cursor: pointer;
}

.playpause-track8 {
  width: 25px;
  margin-left: 20px;
  margin-top: 14px;
  margin-right: 13px;
  cursor: pointer;
}
.seek_slider8 {
  width: 162px;
}
.playrepeat-track8 {
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}
.volume_slider8 {
  width: 60px;
  margin-left: -30px;
  cursor: pointer;
}
.seek_slider9,
.volume_slider9 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: linear-gradient(
    179.42deg,
    rgba(74, 51, 91, 0.8) -10.09%,
    rgba(58, 79, 110, 0.8) 22.66%,
    rgba(43, 99, 123, 0.8) 58.86%,
    rgba(76, 50, 90, 0.8) 98.42%
  );
  -webkit-transition: 0.9s;
  transition: opacity 0.9s;
}

.seek_slider9::-webkit-slider-thumb,
.volume_slider9::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: url(/silaFM/img/table-go.png);
  cursor: pointer;
}

.playpause-track9 {
  width: 25px;
  margin-left: 20px;
  margin-top: 14px;
  margin-right: 13px;
  cursor: pointer;
}
.seek_slider9 {
  width: 162px;
}
.playrepeat-track9 {
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}
.volume_slider9 {
  width: 60px;
  margin-left: -30px;
  cursor: pointer;
}

.seek_slider10,
.volume_slider10 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: linear-gradient(
    179.42deg,
    rgba(74, 51, 91, 0.8) -10.09%,
    rgba(58, 79, 110, 0.8) 22.66%,
    rgba(43, 99, 123, 0.8) 58.86%,
    rgba(76, 50, 90, 0.8) 98.42%
  );
  -webkit-transition: 0.9s;
  transition: opacity 0.9s;
}

.seek_slider10::-webkit-slider-thumb,
.volume_slider10::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: url(/silaFM/img/table-go.png);
  cursor: pointer;
}

.playpause-track10 {
  width: 25px;
  margin-left: 20px;
  margin-top: 14px;
  margin-right: 13px;
  cursor: pointer;
}
.seek_slider10 {
  width: 162px;
}
.playrepeat-track10 {
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}
.volume_slider10 {
  width: 60px;
  margin-left: -30px;
  cursor: pointer;
}

.seek_slider11,
.volume_slider11 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: linear-gradient(
    179.42deg,
    rgba(74, 51, 91, 0.8) -10.09%,
    rgba(58, 79, 110, 0.8) 22.66%,
    rgba(43, 99, 123, 0.8) 58.86%,
    rgba(76, 50, 90, 0.8) 98.42%
  );
  -webkit-transition: 0.9s;
  transition: opacity 0.9s;
}

.seek_slider11::-webkit-slider-thumb,
.volume_slider11::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: url(/silaFM/img/table-go.png);
  cursor: pointer;
}

.playpause-track11 {
  width: 25px;
  margin-left: 20px;
  margin-top: 14px;
  margin-right: 13px;
  cursor: pointer;
}
.seek_slider11 {
  width: 162px;
}
.playrepeat-track11 {
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}
.volume_slider11 {
  width: 60px;
  margin-left: -30px;
  cursor: pointer;
}

.seek_slider12,
.volume_slider12 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: linear-gradient(
    179.42deg,
    rgba(74, 51, 91, 0.8) -10.09%,
    rgba(58, 79, 110, 0.8) 22.66%,
    rgba(43, 99, 123, 0.8) 58.86%,
    rgba(76, 50, 90, 0.8) 98.42%
  );
  -webkit-transition: 0.9s;
  transition: opacity 0.9s;
}

.seek_slider12::-webkit-slider-thumb,
.volume_slider12::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: url(/silaFM/img/table-go.png);
  cursor: pointer;
}

.playpause-track12 {
  width: 25px;
  margin-left: 20px;
  margin-top: 14px;
  margin-right: 13px;
  cursor: pointer;
}
.seek_slider12 {
  width: 162px;
}
.playrepeat-track12 {
  margin-top: 15px;
  margin-right: 20px;
  cursor: pointer;
}
.volume_slider12 {
  width: 60px;
  margin-left: -30px;
  cursor: pointer;
}
.last-left {
  font-weight: bold;
  font-size: 16px;
  line-height: 36px;
  padding-left: 30px;
  border: none;
  position: absolute;
  white-space: nowrap;
  letter-spacing: 0.05em;
  text-align: left;
  color: #74d8e2;
  padding-top: 44px;
  padding-bottom: 35px;
}
.last-right {
  border: none;
  text-align: right;
  padding-bottom: 30px;
}
.img-speakers {
  margin-top: -170px;
}
.foreign-speakers {
  margin-top: 100px;
  background-color: white;
  padding-top: 350px;
}

.container-speaker {
  margin-top: 39px;
  background: linear-gradient(12.85deg, #483156 0%, #39516e 80.3%);
  border-radius: 4px;
  width: 1530px;
  padding: 50px 40px 50px 17px;
}
.form-speakers {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  width: 1360px;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  width: 203px;
  height: 50px;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #43417d;
  background: #b3c2d9;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  padding-left: 14px;
  padding-top: 7px;
  box-sizing: border-box;
  svg {
    margin-top: 5px;
    margin-left: 16px;
    position: absolute;
  }
}
.txt-label-speaker {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
  width: 175px;
  margin-right: 14px;
  color: #c7dee1;
  text-transform: uppercase;
}
.input-speaker {
  padding-left: 15px;
  padding-right: 10px;
  width: 490px;
  border: none;
  height: 50px;
  font-family: Arial;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #43417d;
  background: #b3c2d9;
  border-radius: 6px;
}
.input-speaker::placeholder {
  font-family: Arial;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #43417d;
  background: #b3c2d9;
  border-radius: 6px;
}
.form-speak {
  display: flex;
  width: 500px;
  margin-left: -30px;
  padding-top: 25px;
}
.nofile {
  font-family: Arial;
  margin-left: 16px;
  font-weight: bold;
  font-size: 14px;
  line-height: 36px;

  letter-spacing: 0.05em;

  color: #8d9eba;
}
.copy-task {
  position: absolute;
  margin-left: -10px;
}
.place-txt {
  margin-top: 30px;
}
.wish-txt {
  width: 132px;
  height: 52px;
  margin-left: 27px;
  margin-top: 28px;
}
.input-paste-speak {
  margin-left: 180px;
  margin-top: -10px;
  max-width: 1230px;
  min-width: 1230px;
  padding-top: 12px;
  font-family: Arial;
  font-size: 16px;
  color: #43417d;
}
.input-paste-speak::placeholder {
  font-family: Arial;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #43417d;
}
.input-width {
  width: 1235px;
  margin-left: 180px;
  margin-top: 30px;
}
.btn-send-speaker {
  left: 45%;
  margin-top: 80px;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 887px) {
  .btn-send-speaker {
    left: 40%;

    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 1866px) {
  .container-speaker {
    width: 1000px;
    padding: 50px 40px 50px 17px;
  }
  .form-speakers {
    flex-direction: column;
    width: 900px;
  }
  .input-speaker {
    padding-left: 15px;
    width: 300px;

    height: 50px;
  }
  .txt-label-speaker {
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    width: 175px;
  }
  .your-cash {
    margin-left: -165px;
  }
  .box-email {
    margin-bottom: 20px;
  }
  .form-speak {
    margin-left: 70px;
    padding-top: 1px;
  }
  .pick-file {
    margin-top: 30px;
    margin-left: 125px;
  }
  .input-paste-speak {
    margin-left: 370px;
    margin-top: -10px;
    max-width: 350px;
    min-width: 350px;
    padding-top: 12px;
  }
  .input-paste-speak::placeholder {
    font-size: 14px;
    line-height: 30px;
  }
  .input-width {
    margin-left: 370px;
  }
  .input-speaker::placeholder {
    font-size: 14px;
    line-height: 30px;
  }
  .place-txt {
    margin-top: 40px;
  }
  .copy-task {
    position: absolute;
    margin-left: 175px;
  }
  .wish-txt {
    margin-top: 44px;
  }
  .choose-lgs {
    position: absolute;
    margin-top: -45px;
    margin-left: -160px;
  }
  .box-inputs {
    margin-top: -44px;
    margin-left: 520px;
  }
}
@media only screen and (max-width: 1121px) {
  .container-speaker {
    width: 600px;
    padding: 50px 40px 50px 17px;
  }
  .form-speakers {
    width: 600px;
  }
  .form-speak {
    margin-left: -70px;
    padding-top: 1px;
  }
  .pick-file {
    margin-top: 30px;
    margin-left: 15px;
  }
  .input-paste-speak {
    margin-left: 149px;
    margin-top: -10px;
    max-width: 300px;
    min-width: 300px;
    padding-top: 12px;
  }
  .txt-label-speaker {
    font-size: 12px;
  }
  .input-width {
    margin-left: 150px;
  }
  .your-cash {
    display: none;
  }
  .email-txt-sp {
    display: none;
  }
  .place-txt {
    margin-top: 30px;
    line-height: 22px;
  }
  .wish-txt {
    line-height: 22px;
    margin-top: 30px;
  }
  .copy-task {
    width: 120px;
    margin-left: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .btn-send-speaker {
    left: 30%;

    transform: translate(-50%, -50%);
  }
  .container-speaker {
    width: 350px;
    padding: 30px 15px 20px 15px;
  }
  .form-speakers {
    width: 300px;
  }
  .form-speak {
    width: 290px;
    margin-left: -10px;
    padding-top: 1px;
  }

  .pick-file {
    margin-top: 30px;
    margin-left: 15px;
  }
  .input-paste-speak {
    margin-left: 21px;
    margin-top: -10px;
    max-width: 280px;
    min-width: 280px;
    padding-top: 12px;
  }
  .txt-label-speaker {
    font-size: 12px;
  }
  .input-width {
    width: 220px;
    margin-left: 24px;
  }
  .input-speaker {
    width: 270px;
  }
  .custom-file-upload {
    width: 170px;
    font-size: 12px;
    height: 50px;
    margin-left: -10px;
  }
  .input-paste-speak::placeholder {
    font-size: 12px;
    line-height: 20px;
  }

  .input-speaker::placeholder {
    font-size: 11px;
    line-height: 20px;
  }
  .nofile {
    font-family: Arial;
    margin-left: 16px;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    white-space: pre;
  }
  .place-txt {
    margin-top: 0px;
    line-height: 22px;
    margin-left: 20px;
  }
  .wish-txt {
    line-height: 22px;
    margin-top: 6px;
    margin-left: 20px;
  }
  .copy-task {
    width: 230px;
    margin-left: 0px;
  }
  #correct-task {
    margin-top: -33px;
    margin-left: 40px;
  }
}
@media only screen and (max-width: 740px) {
  .btn-send-speaker {
    left: 180px;
  }
}
@media only screen and (max-width: 470px) {
  .container-speaker {
    width: 250px;
    padding: 30px 10px 20px 10px;
  }
  .form-speakers {
    width: 250px;
  }
  .btn-send-speaker {
    left: 120px;
  }
  .form-speak {
    width: 10px;
    margin-left: 50px;
    padding-top: 1px;
    margin-top: -20px;
    font-size: 11px;
    flex-direction: column;
  }
  .voices-txt {
    margin-left: -160px;
    margin-bottom: 10px;
  }
  .pick-file {
    margin-top: 10px;
    margin-left: 45px;
  }
  .input-paste-speak {
    margin-left: 18px;
    margin-top: -10px;
    max-width: 200px;
    min-width: 200px;
    padding-top: 12px;
  }
  .txt-label-speaker {
    font-size: 12px;
  }
  .input-width {
    width: 180px;
    margin-left: 17px;
  }
  .input-speaker {
    width: 200px;
  }

  .place-txt {
    margin-top: 0px;
    line-height: 22px;
    font-size: 13px;
    text-align: center;
    padding-left: 15px;
  }
  .wish-txt {
    line-height: 22px;
    margin-top: 6px;
    font-size: 13px;
    text-align: center;
    padding-left: 15px;
  }
  .copy-task {
    margin-left: 0px;
  }
  #correct-task {
    margin-top: -33px;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 390px) {
  .btn-send-speaker {
    left: 100px;
  }
}
@media only screen and (min-width: 1825px) {
  .speak-page {
    padding-left: 195px;
  }
}
@media only screen and (max-width: 1755px) {
  .actors {
    padding: 113px 17px 100px 100px;
    background: #ecf6f8;
    border-radius: 4px;
  }
  .box-actors {
    width: 99%;
  }
}
@media only screen and (max-width: 1548px) {
  .img-speakers {
    margin-top: -160px;
    width: 267px;
    height: 480px;
  }
}
@media only screen and (max-width: 1221px) {
  .choose-lgs {
    position: absolute;
    margin-top: 15px;
    margin-left: -160px;
  }
  .custom-select-trigger {
    position: relative;
    display: block;
    width: 270px;
  }
  .box-inputs {
    margin-top: 15px;
    margin-left: 320px;
  }
  .search-input {
    width: 240px;
    height: 70px;
  }
}
@media only screen and (max-width: 1200px) {
  .adapt-lgs {
    font-size: 12px;
  }
  .play-music {
    width: 276px;
  }
  .audio-playlist {
    width: 276px;
    height: 50px;
    margin-left: 0px;
    margin-top: 0px;
  }

  .playpause-track12 {
    width: 25px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .seek_slider12 {
    width: 100px;
  }
  .volume_slider12 {
    width: 40px;
    margin-left: -30px;
  }
  .playpause-track11 {
    width: 25px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .seek_slider11 {
    width: 100px;
  }
  .volume_slider11 {
    width: 40px;
    margin-left: -30px;
  }
  .playpause-track10 {
    width: 25px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .seek_slider10 {
    width: 100px;
  }
  .volume_slider10 {
    width: 40px;
    margin-left: -30px;
  }
  .playpause-track9 {
    width: 25px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .seek_slider9 {
    width: 100px;
  }
  .volume_slider9 {
    width: 40px;
    margin-left: -30px;
  }
  .playpause-track8 {
    width: 25px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .seek_slider8 {
    width: 100px;
  }
  .volume_slider8 {
    width: 40px;
    margin-left: -30px;
  }
  .playpause-track7 {
    width: 25px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .seek_slider7 {
    width: 100px;
  }
  .volume_slider7 {
    width: 40px;
    margin-left: -30px;
  }
  .playpause-track6 {
    width: 25px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .seek_slider6 {
    width: 100px;
  }
  .volume_slider6 {
    width: 40px;
    margin-left: -30px;
  }
  .playpause-track5 {
    width: 25px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .seek_slider5 {
    width: 100px;
  }
  .volume_slider5 {
    width: 40px;
    margin-left: -30px;
  }
  .playpause-track4 {
    width: 25px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .seek_slider4 {
    width: 100px;
  }
  .volume_slider4 {
    width: 40px;
    margin-left: -30px;
  }
  .playpause-track3 {
    width: 25px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .seek_slider3 {
    width: 100px;
  }
  .volume_slider3 {
    width: 40px;
    margin-left: -30px;
  }
  .playpause-track2 {
    width: 25px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .seek_slider2 {
    width: 100px;
  }
  .volume_slider2 {
    width: 40px;
    margin-left: -30px;
  }
  .playpause-track1 {
    width: 25px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .seek_slider1 {
    width: 100px;
  }
  .volume_slider1 {
    width: 40px;
    margin-left: -30px;
  }
}

@media only screen and (max-width: 808px) {
  .speak-page {
    background-position-x: center;
  }
  .choose-lgs {
    position: absolute;
    margin-top: 15px;
    margin-left: -190px;
  }
  .custom-select-trigger {
    width: 200px;
    height: 50px;
    line-height: 20px;
    padding-top: 15px;
    font-size: 12px;
  }
  .search-input {
    width: 100px;
    height: 47px;
  }
  .search-input::placeholder {
    font-size: 12px;
    line-height: 10px;
  }
  .search-btn {
    height: 48.5px;
    svg {
      width: 15px;
    }
  }
  .box-inputs {
    margin-top: 15px;
    margin-left: 220px;
  }
}
@media only screen and (max-width: 710px) {
  .adaptive-block {
    display: none;
  }
  .icon-playlist {
    display: none;
  }
  .playlist-element {
    width: 280px;
    height: 259px;
    padding-left: 11px;
  }
  .txt-visa-free {
    font-size: 18px;
    letter-spacing: normal;
    width: 190px;
  }
  .btn-download {
    padding-bottom: 30px;
    font-size: 14px;
    svg {
      margin-top: 2px;
      height: 15px;
    }
  }
}
@media only screen and (max-width: 644px) {
  .playlist-element {
    width: 250px;
    height: 219px;
    padding-left: 11px;
  }
  .voices-people {
    font-size: 12px;
  }
  .adapt-left {
    font-size: 12px;
    line-height: 26px;
  }
}
@media screen and (max-width: 663px) {
  .box-with-speakers {
    height: 460px;
  }
}
@media screen and (max-width: 628px) {
  .box-with-speakers {
    height: 400px;
  }
}
@media screen and (max-width: 590px) {
  .professional-txt {
    line-height: 40px;
    font-size: 30px;
  }
  .speak-page {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 517px) {
  .box-inputs {
    margin-top: 4px;
    margin-left: 10px;
  }
  .choose-lgs {
    margin-top: 75px;
    margin-left: -190px;
  }
}
@media only screen and (max-width: 470px) {
  .professional-txt {
    line-height: 28px;
  }
  .speak-page {
    padding-left: 10px;
  }
}
@media screen and (max-width: 420px) {
  .playlist-element {
    width: 270px;
    height: 144px;
    padding-left: 11px;
  }
  .txt-visa-free {
    margin-bottom: 10px;
    font-size: 12px;
    width: 140px;
  }
  .voices-people {
    margin-bottom: 20px;
    margin-top: 50px;
    line-height: 16px;
    font-size: 11px;
  }
  .for-margin-t {
    padding-top: 10px;
    margin-bottom: 10px;
  }
  .btn-download {
    font-size: 12px;
    svg {
      margin-top: 5px;
      height: 10px;
    }
  }
}
@media only screen and (max-width: 388px) {
  .playlist-element {
    width: 210px;
    height: 144px;
    padding-left: 11px;
    padding-right: 20px;
  }
  .container-playlist {
    width: 220px;
  }
  .txt-visa-free {
    line-height: 17px;
  }
  .voices-people {
    height: 25px;
  }
}

.modal-btn-speakers {
  background-color: transparent;
  border: none;
  box-shadow: none;
  width: 280px;
  margin-left: 10px;
  &:hover {
    box-shadow: none;
    border: 1px solid #711f30;
    background-color: #671627;
  }
}

@media only screen and (min-width: 40em) {
  .modal-overlay-speakers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgb(63, 68, 100, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .modal-overlay-speakers.active-speakers {
    opacity: 1;
    visibility: visible;
  }
}

.modal-speakers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Arial;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  background: #ecf6f8;
  width: 1760px;
  height: 90%;
  border-radius: 4px;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.modal-speakers .close-modal-speakers {
  position: absolute;
  cursor: pointer;
  top: 25px;
  right: 27px;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1),
    -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.modal-speakers .modal-content-speakers {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.modal-speakers.active-speakers {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.modal-speakers.active-speakers .modal-content-speakers {
  opacity: 1;
}
.modal-speakers.active-speakers .close-modal-speakers {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  opacity: 1;
}
.identifi-task {
  margin-top: -40px;
}
.href-for {
  margin-top: -60px;
}
.give-comment {
  margin-top: 40px;
}
@media only screen and (min-width: 1867px) {
  #email-width {
    width: 506px;
  }
  #task-pick {
    width: 506px;
    margin-left: 530px;
  }
  #text-comment {
    max-width: 500px;
    min-width: 500px;
    margin-left: 530px;
  }
  .give-txt {
    margin-left: 340px;
  }
  .identifi-task {
    margin-left: 240px;
    margin-top: -10px;
  }
}

@media only screen and (max-width: 39.9375em) {
  .modal-speakers {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 100%;
    background: #ecf6f8;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    padding: 0 !important;
  }
}
@media only screen and (max-width: 1888px) {
  .modal-speakers {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 1400px) {
  .modal-speakers .close-modal-speakers svg {
    width: 29px;
    height: 29px;
  }
}
@media only screen and (max-width: 1200px) {
  .modal-speakers .close-modal-speakers {
    top: 15px;
    right: 25px;
  }

  .modal-speakers .close-modal-speakers svg {
    width: 25px;
    height: 25px;
  }
  .modal-speakers {
    height: 95%;
  }
}
@media only screen and (max-width: 583px) {
  .modal-speakers .close-modal-speakers svg {
    width: 20px;
    height: 20px;
  }
}

//make order

@media only screen and (min-width: 40em) {
  .modal-overlay-order {
    display: -webkit-box;
    display: -ms-flexbox;
  
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgb(63, 68, 100, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .modal-overlay-order.active-order {
    opacity: 1;
    visibility: visible;
  }
}

.modal-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Arial;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  background: #ecf6f8;
  width: 1760px;
  height: 90%;
  border-radius: 4px;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.modal-order .close-modal-order {
  position: absolute;
  cursor: pointer;
  top: 25px;
  right: 27px;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1),
    -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.modal-order.modal-content-order {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.modal-order.active-order {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.modal-order.active-order .modal-content-order {
  opacity: 1;
}
.modal-order.active-order .close-modal-order {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  opacity: 1;
}

@media only screen and (max-width: 39.9375em) {
  .modal-order {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 100%;
    background: #ecf6f8;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    padding: 0 !important;
  }
}

@media only screen and (max-width: 1888px) {
  .modal-order {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 1400px) {
  .modal-order .close-modal-order svg {
    width: 29px;
    height: 29px;
  }
}
@media only screen and (max-width: 1200px) {
  .modal-order .close-modal-order {
    top: 15px;
    right: 25px;
  }

  .modal-order .close-modal-order svg {
    width: 25px;
    height: 25px;
  }
  .modal-order {
    height: 100%;
  }
}
@media only screen and (max-width: 583px) {
  .modal-order .close-modal-order svg {
    width: 20px;
    height: 20px;
  }
}
.container-order {
  width: 1530px;
  height: 808px;
  background: #404162;
  padding: 40px;
  box-sizing: border-box;
}
.menu-order {
  display: flex;
  width: 1530px;
  margin-top: 41px;
}
.active-make-order {
  background: #404162;
  .active-txt-order {
    color: #c7dee1;
}
}
.order-element {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  width: 305px;
  height: 90px;
  line-height: 40px;
  padding: 25px 30px;
  box-sizing: border-box;
  color: #404162;
  cursor: pointer;
  svg {
    position: absolute;
  }
  span {
    padding-top: 7px;
    position: absolute;
    margin-left: 59px;
  }
}
.active-txt-order {
  color: #c7dee1;
  
}
.box-make-order {
  display: flex;
}
.txt-form-order {
  font-family: Arial;
  margin-right: 9px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: right;

  color: #c7dee1;
}
.style-txt {
  margin-top: 18px;
  position: absolute;
  margin-left: 19px;
}
.input-order {
  width: 500px;
  height: 50px;
  border: none;
  box-sizing: border-box;
  padding: 5px;
  background: #b3c2d9;
  border-radius: 6px;
  font-size: 16px;
  color: #43417d;
  padding-left:12px;
}
.input-order::placeholder {
  font-family: Arial;

  font-size: 16px;
  line-height: 36px;

  letter-spacing: 0.05em;

  color: #43417d;
}
.size-order {
  width: 500px;
  margin-top: 0px;
}
.textarea-text {
  max-width: 1238px;
  max-height: 146px;
  min-width: 1238px;
  min-height: 146px;
  font-family: Arial;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #43417d;
  background: #b3c2d9;
  border-radius: 6px;
  margin-left: 165px;
  margin-top: 30px;
  padding-left:12px;
  padding-top: 10px;
}
.for-textarea{
  position: absolute;
  margin-left: 98px;
  margin-top: 40px;
}
.textarea-text::placeholder{
  font-family: Arial;
 
font-size: 16px;
line-height: 36px;
 
letter-spacing: 0.05em;

color: #43417D;
}
.write-chrono{
  margin-top: 31px;
  margin-left: 22px;
}
.textarea-comments{
max-width: 480px;
min-width: 480px;
max-height: 131px;
min-height: 131px;
margin-left: 119px;

}
.for-textarea-comments{
  position: absolute;
  margin-left: -20px;
  margin-top: 40px;
}
 .your-file{
margin-left: -45px;
 }
 .parameters-block{
   margin-top: 31px;
 }
 .paramet-txt{
   margin-left: 38px;
 }
 .code-speaker{
   margin-top: 31px;
   margin-left: 110px;
 }
 .pay-block-form{
   margin-top: 21px;
   margin-left: 49px;
 }
 .pay-order-txt{
margin-left: 80px;
 }
 @media only screen and (min-width: 1867px) {
  .your-file{
   margin-top: 31px;
     }
 }
 @media only screen and (max-width: 1605px) {
  .container-order {
    width: 1030px;
    height: 100%;
    background: #404162;
    padding: 40px;
    box-sizing: border-box;
  }
  .menu-order {
    display: flex;
    width: 1030px;
    margin-top: 41px;
  }
  .active-make-order {
    background: #404162;
  }
  .order-element {
  
    font-weight: bold;
    font-size: 16px;
    width: 205px;
    height: 70px;
    line-height: 40px;
    padding: 11px 15px;
  
    svg {
      position: absolute;
      width: 30px;
      margin-left: 0px;
    }
    span {
      padding-top: 7px;
      position: absolute;
      margin-left: 35px;
    }
  }
   
  .txt-form-order {
    font-family: Arial;
    margin-right: 9px;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
 
  }
  .style-txt {
    margin-top: 18px;
    position: absolute;
    margin-left: 19px;
  }
  .input-order {
    width: 300px;
    height: 50px;
    border: none;
    box-sizing: border-box;
    padding: 5px;
    background: #b3c2d9;
    border-radius: 6px;
    font-size: 16px;
    color: #43417d;
    padding-left:12px;
  }
  .input-order::placeholder {
    font-family: Arial;
  
    font-size: 16px;
    line-height: 36px;
  
    letter-spacing: 0.05em;
  
    color: #43417d;
  }
  .size-order {
    width: 300px;
    margin-top: 0px;
  }
  .textarea-text {
    max-width: 770px;
    max-height: 146px;
    min-width: 770px;
    min-height: 146px;
     
    font-size: 14px;
    line-height: 28px;
   
    border-radius: 6px;
    margin-left: 135px;
    margin-top: 20px;
    padding-left:12px;
    padding-top: 5px;
  }
  .for-textarea{
    position: absolute;
    margin-left: 78px;
    margin-top: 30px;
  }
  .textarea-text::placeholder{
  
  font-size: 14px;
  line-height: 36px;
  
  }
  .write-chrono{
    margin-top: 31px;
    margin-left: 22px;
  }
  .textarea-comments{
  max-width: 280px;
  min-width: 280px;
  max-height: 131px;
  min-height: 131px;
  margin-left: 90px;
  }
  .for-textarea-comments{
    position: absolute;
    margin-left: -30px;
    margin-top: 40px;
  }
   .your-file{
  margin-left: 40px;
   }
   .parameters-block{
     margin-top: 31px;
     margin-left: -76px;
   }
   .paramet-txt{
     margin-left: 50px;

   }
   .code-speaker{
     margin-top: 31px;
     margin-left: 117px;
   }
 .pay-order-txt{
position: absolute;
margin-left: -78px;
margin-top: 13px;
}
 .adapt-payInput{
   margin-left: 0px;
 }
 .email-block-form{
   margin-left: 45px;
 }
}
@media only screen and (max-width: 1204px) {
  .container-order {
    width: 400px;
    height: 100%;
    background: #404162;
    padding: 40px;
    box-sizing: border-box;
  }
  .box-make-order {
 flex-direction: column;
  }
  .menu-order {
    display: flex;
    width: 400px;
    margin-top: 41px;
  }
  
  .order-element {
  
    font-weight: bold;
    font-size: 14px;
    width: 75px;
    height: 70px;
    line-height: 40px;
    padding: 11px 19px;
  
    svg {
      position: absolute;
      width: 30px;
      margin-left: 0px;
    }
    span {
   display: none;
    }
  }
   
  .txt-form-order {
    font-family: Arial;
    margin-right: 9px;
    font-weight: bold;
    font-size: 14px;
    line-height: 38px;
  }
  .style-txt {
    margin-top: 18px;
    position: static;
    margin-left: -75px;
  }
  .input-order {
    width: 240px;
    height: 50px;
    border: none;
    box-sizing: border-box;
    padding: 5px;
    background: #b3c2d9;
    border-radius: 6px;
    font-size: 14px;
    color: #43417d;
    padding-left:12px;
    margin-bottom: 20px;
  }
  .input-order::placeholder {
    font-family: Arial;
  
    font-size: 12px;
    line-height: 26px;
  
    letter-spacing: 0.05em;
  
    color: #43417d;
  }
  .size-order {
    width: 240px;
    margin-top: 0px;
    margin-left: -75px;
  }
  #order-check{
    margin-left: 3px;
  }
  .textarea-text {
    max-width: 240px;
    max-height: 106px;
    min-width: 240px;
    min-height: 106px;
     
    font-size: 12px;
    line-height: 15px;
   
    border-radius: 6px;
    margin-left: 3px;
    margin-top: 20px;
    padding-left:12px;
    padding-top: 5px;
  }
  .for-textarea{
    position: static;
    margin-left: 14px;
    margin-top: 30px;
  }
  .textarea-text::placeholder{
  
  font-size: 12px;
  line-height: 22px;
  
  }
  .write-chrono{
    margin-top: 20px;
    margin-left: 0px;
  }
  .textarea-comments{
  max-width: 240px;
  min-width: 240px;
  max-height: 131px;
  min-height: 131px;
  margin-left: 0px;
  }
  .for-textarea-comments{
    position: static;
    margin-left: 0px;
    margin-top: 40px;
  }
   .your-file{
  margin-left: 0px;
   }
   .parameters-block{
    margin-top: 20px;
     margin-left: 80px;
     margin-bottom: 19px;
   }
   .paramet-txt{
     margin-left: -70px;

   }
   .code-speaker{
    margin-top: 40px;
     margin-left: -70px;
   }
 .pay-order-txt{
position: static;
margin-left: -106px;
margin-top: -10px;
}
 .adapt-payInput{
  margin-left: -108px;
 }
 .email-block-form{
  margin-left: -40px;
  margin-top: -10px;
 }
 .code-txt{
   line-height: 38px;
   position: absolute;
   margin-top: -35px;
 }
}
@media only screen and (max-width: 500px) {
  .container-order {
    width:260px;
    height: 100%;
   
    padding: 15px;
  
  }
  .box-make-order {
 flex-direction: column;
  }
  .menu-order {
    display: flex;
    width: 260px;
    margin-top: 41px;
  }
  
  .order-element {
  
    font-weight: bold;
    font-size: 14px;
    width: 55px;
    height: 60px;
    line-height: 40px;
    padding: 7px 10px;
   
  }
   
  .txt-form-order {
  
    margin-right: 9px;
    font-weight: bold;
    font-size: 14px;
    line-height: 38px;
  }
  .style-txt {
    margin-top: 18px;
    position: static;
    margin-left: -35px;
    text-align: left;
  }
  .input-order {
    width: 200px;
    height: 40px;
  
  }
  
  .size-order {
    width: 200px;
    height: 40px;
    margin-top: 0px;
    margin-left: -35px;
  }
  #order-check{
    margin-left: -10px;
   line-height: 10px;
   width: 200px;
  }
  .textarea-text {
    max-width: 200px;
    max-height: 96px;
    min-width: 200px;
    min-height: 96px;
     
    font-size: 12px;
    line-height: 15px;
    
    margin-left: 3px;
    
  }
  .for-textarea{
    position: static;
    margin-left: 4px;
    line-height: 5px;
    margin-top: 30px;
  }

  .write-chrono{
    margin-top: 20px;
    margin-left: 0px;
  }
  .textarea-comments{
  max-width: 200px;
  min-width: 200px;
  max-height: 101px;
  min-height: 101px;
  margin-left: 0px;
  margin-top: -3px;
  }
  .for-textarea-comments{
    position: static;
    margin-left: 0px;
    margin-top: 40px;
  }
   .your-file{
  margin-left: 10px;
   }
   .parameters-block{
    margin-top: 20px;
     margin-left:35px;
     margin-bottom: 19px;
   }
   .paramet-txt{
     margin-left: -30px;

   }
   .code-speaker{
    margin-top: 44px;
     margin-left: -35px;
   }
 .pay-order-txt{
position: static;
margin-left: -80px;
margin-top: -45px;
}
 .adapt-payInput{
  margin-left: -80px;
  margin-bottom: 20px;
 }
 .email-block-form{
  margin-left: -50px;
  margin-top: -22px;
 }
 .code-txt{
   line-height: 38px;
   position: absolute;
   margin-top: -35px;
 }
 .pay-cont-adapt{
   margin-top: -19px;
 }
}
@media only screen and (max-width: 470px) {
  .btn-send-form-order{
    margin-left: -20px;
  }
}
#audio, #scenario, #voice, #admusic{
  display: none !important;
}
