.strengths {
    margin-top: 450px;
    width: 100%;
    color: #c7dee1;
    font-family: Arial;
}

.fullscreen-bg {
    overflow: hidden;
    z-index: -100;
    position: relative;
    width: 100%;
    height: 760px;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    object-fit: cover;
    width: 100vw;
    height: 100vw;
    z-index: -1;
}
.overlayy {
    background: linear-gradient(
        110.57deg,
        rgba(74, 51, 91, 0.8) -10.09%,
        rgba(47, 61, 83, 0.8) 22.66%,
        rgba(17, 48, 62, 0.8) 58.86%,
        rgba(76, 50, 90, 0.8) 98.42%
    );
    position: absolute;
    padding-top: 83px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    svg {
        height: 96%;
        width: 240px;
        margin-top: -46px;
        float: right;
    }
}
.strengths-sila-fm {
    padding-left: 195px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}
.strong-txt {
    font-size: 60px;
    line-height: 69px;
    letter-spacing: 0.08em;
    padding-left: 195px;
    padding-top: 34px;
}
.part-txt {
    font-size: 65px;
    line-height: 75px;
    padding-left: 195px;
    padding-right: 20px;
    position: absolute;
    margin-top: 3px;
}
.strengths-items {
    margin-top: 410px;
    display: flex;
    position: absolute;
    padding-left: 195px;
    div {
        display: inline;
        margin-right: 62px;
        font-weight: bold;
        font-size: 25px;
        line-height: 29px;
    }
}
.hr-forstrenghts {
    background-color: #c7dee1;
    border: none;
    margin-left: 0px;
    width: 93px;
    height: 2px;
    margin-bottom: 41px;
}

.base-speakers {
    margin-top: 125px;
}
.base-box {
    background: #ecf6f8;
    border-radius: 4px;
    max-width: 1412px;
    font-family: Arial;
    margin-top: 22px;
    margin-bottom: 22px;
    padding: 69px 0px 120px 118px;
    &:hover {
        background: linear-gradient(6.97deg, #483156 0%, #39516e 80.3%);
    }

    h4 {
        color: #404263;
        font-weight: bold;
        font-size: 30px;
        line-height: 34px;
        width: 860px;
        margin-left: 0px;
        text-transform: uppercase;
    }
    p {
        font-size: 20px;
        line-height: 30px;
        color: #454545;
        width: 860px;
        padding-top: 34px;
        margin-left: 0px;
    }
    img {
        float: right;
        width: 93px;
        margin-right: 97px;
        margin-top: 0px;
    }
    #base-svg1 {
        margin-right: -93px;
        display: none;
    }
    #base-svg2 {
        margin-right: -93px;
        display: none;
    }
    #base-svg-ad {
        margin-right: -93px;
        display: none;
    }
 
}
.base-btn {
    display: none;
    position: absolute;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #c7dee1;
    width: 292px;
    height: 70px;
    border: 2px solid #c7dee1;
    box-sizing: border-box;
    box-shadow: 16px -20px 20px rgba(92, 92, 92, 0.05), -16px 20px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: transparent;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.5s ease;
    &:hover {
        box-shadow: 10px 10px 15px rgba(163, 152, 152, 0.5), -16px 20px 20px rgba(0, 0, 0, 0.1);
    }
}
.base-blocks-flex {
    display: flex;
    margin-top: 22px;
    margin-bottom: 22px;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1560px;
    .flex-items {
        background: #ecf6f8;
        border-radius: 4px;
        font-family: Arial;
        padding: 84px 0px 111px 0px;
        width: 750px;
        margin-bottom: 21px;
        margin-left: 15px;
        &:hover {
            background: linear-gradient(6.97deg, #483156 0%, #39516e 80.3%);
        }
        .for-position {
            margin-top: 47px;
        }
        h4 {
            width: 519px;
            margin-left: 117px;
            font-size: 30px;
            line-height: 34px;
            color: #404263;
        }

        .for-position-down {
            margin-top: 17px;
        }
        p {
            width: 519px;
            padding-top: 32px;
            font-size: 20px;
            margin-left: 117px;
            line-height: 30px;
            color: #454545;
        }
    }
}
.our-scratches {
    background: #ecf6f8;
    border-radius: 4px;
    max-width: 1530px;
    font-family: Arial;
    margin-bottom: 130px;
    h5 {
        font-weight: bold;
        font-size: 30px;
        line-height: 34px;
        text-align: center;
        background: linear-gradient(11.48deg, #483156 0%, #39516e 80.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top: 74px;
        padding-bottom: 74px;
    }
    p {
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        margin-top: -20px;
        padding-bottom: 82px;
        text-align: center;
        text-transform: uppercase;
        color: #404263;
    }
}
.scratches-icons {
    display: flex;
    padding-left: 274px;
    padding-right: 274px;
    svg {
        cursor: pointer;
        &:hover {
            width: 196px;
            height: 243px;
            margin: 6px 14px 14px 6px;
        }
    }
}
.know-cost {
    width: 1530px;
    padding-top: 51px;
    background: linear-gradient(106.63deg, #4a335b -10.09%, #2f3d53 22.66%, #11303e 58.86%, #4c325a 98.42%);
    border-radius: 4px;
    color: #c7dee1;
    font-family: Arial;
    margin-bottom: 142px;
    h2 {
        font-weight: bold;
        font-size: 60px;
        line-height: 69px;
        letter-spacing: 0.08em;
        text-align: center;
    }
    p {
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        padding-top: 30px;
    }
    .wave-img {
        position: absolute;
    }
}

.cost-img {
    width: 424px;
    float: right;
    margin-right: 144px;
    p {
        z-index: 0;
        position: absolute;
        font-family: Arial;
        font-weight: bold;
        font-size: 29px;
        line-height: 39px;
        text-transform: uppercase;
        color: #c7dee1;
        padding-top: 84px;
    }
    img {
        padding-top: 182px;
        z-index: 0;
        position: absolute;
        margin-left: 50px;
    }
}

.cost-box {
    display: flex;
}
 
.cost-btn-open {
    width: 424px;
    height: 70px;
    background: #671627;
    border: 2px solid #711f30;
    box-sizing: border-box;
    font-family: Arial;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    box-shadow: 16px -20px 20px rgba(92, 92, 92, 0.05), -16px 20px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 651px;
    margin-left: -24px;
    transition: 0.5s ease;
    margin-bottom: 49px;
    z-index: 1;
    position: relative;
    &:hover {
        box-shadow: 10px 10px 15px rgba(163, 152, 152, 0.5), -16px 20px 20px rgba(0, 0, 0, 0.1);
    }
    svg {
        margin-top: 3px;
        margin-left: 29px;
    }
}

.btn-send {
    margin-top: 30px;
    margin-left: 74px;
    transition: 0.5s ease;
    &:hover {
        box-shadow: 10px 10px 15px rgba(163, 152, 152, 0.5), -16px 20px 20px rgba(0, 0, 0, 0.1);
    }
}

@media only screen and (min-width: 40em) {
    .modal-overlay-calculator {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-color: rgb(63, 68, 100, 0.5);
        opacity: 0;
        visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
        transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    }
    .modal-overlay-calculator.active-calculator {
        opacity: 1;
        visibility: visible;
    }
}

.modal-calculator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Arial;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    background: #ecf6f8;
    width: 1760px;
    height: 1146px;
    border-radius: 4px;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.modal-calculator .close-modal-calculator {
    position: absolute;
    cursor: pointer;
    top: 25px;
    right: 27px;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1),
        -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.modal-calculator .modal-content-calculator {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.modal-calculator.active-calculator {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.modal-calculator.active-calculator .modal-content-calculator {
    opacity: 1;
}
.modal-calculator.active-calculator .close-modal-calculator {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 1;
}

@media only screen and (max-width: 39.9375em) {
    .modal-calculator {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        height: 100%;
        background: #ecf6f8;
        -webkit-overflow-scrolling: touch;
        border-radius: 0;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        padding: 0 !important;
    }
}

.switch {
    width: 230.58px;
    height: 32px;
    margin-left: 0px;
    position: relative;
    margin-top: 35px;
}
.switch input {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.switch input:checked {
    z-index: 1;
}
.switch input:checked + label {
    opacity: 1;
    cursor: default;
}
.switch input:not(:checked) + label:hover {
    opacity: 0.6;
}
.switch label {
    opacity: 0.5;
    transition: opacity 0.25s ease;
    cursor: pointer;
}
.switch .toggle-outside {
    height: 100%;
    border-radius: 20px;
    padding: 0.1rem;
    overflow: hidden;
    transition: 0.25s ease all;
}
.switch .toggle-inside {
    border-radius: 50%;
    background: linear-gradient(21.34deg, #257289 -0.93%, #188191 100%);
    position: absolute;
    transition: 0.25s ease all;
    margin-top: 2px;
}
.switch--horizontal {
    width: 18rem;
    height: 3rem;
    font-size: 0;
}
.switch--horizontal input {
    height: 3rem;
    width: 6rem;
    left: 6rem;
    margin: 0;
}
.switch--horizontal label {
    color: #c7dee1;
    font-size: 16px;
    line-height: 30px;
    display: inline-block;
    margin-left: 6px;
    text-align: center;
    margin-right: 10px;
}
.switch--horizontal label:last-of-type {
    margin-left: 6rem;
}
.switch--horizontal .toggle-outside {
    background: #b3c2d9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.07);
    position: absolute;
    width: 66px;
    height: 30px;
    left: 6rem;
}
.switch--horizontal .toggle-inside {
    width: 26px;
    height: 26px;
}
.switch--horizontal input:checked ~ .toggle-outside .toggle-inside {
    left: 0.25rem;
}
.switch--horizontal input ~ input:checked ~ .toggle-outside .toggle-inside {
    left: 2.45rem;
}

.range {
    position: relative;
    width: 355px;
    margin-left: 0px;
    margin-top: 25px;
}

.range input {
    width: 100%;
    position: absolute;
    top: 2px;
    height: 0;
    -webkit-appearance: none;
}
.range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 20px;
    border: 0 !important;
}
.range input::-moz-range-thumb {
    border-radius: 20px;
    cursor: pointer;
    border: 0 !important;
}
.range input::-ms-thumb {
    border-radius: 20px;
    cursor: pointer;
    border: 0 !important;
    width: 128px;
}
.range input::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #b3c2d9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}
.range input::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #b3c2d9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}
.range input::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #b3c2d9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}
.range input:focus {
    background: none;
    outline: none;
}
.range input::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.range-labels {
    margin: 18px 0;
    padding: 0;
    list-style: none;
    margin-left: -17px;
    width: 492px;
}
.arrows-range li {
    font-size: 10px;
}
.range-labels li {
    position: relative;
    float: left;
    margin: 18px 59px 0px 0px;
    width: 50.25px;
    text-align: center;
    color: #b3c2d9;
    font-size: 14px;
    cursor: pointer;
}
.third-label {
    padding-left: 10px;
}
.range-labels li::before {
    position: absolute;
    top: -25px;
    right: 0;
    left: 0;

    background: #b3c2d9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
}
.range-labels .active {
    color: #1e7a8e;
}
.range-labels .selected::before {
    background: #1e7a8e;
}
.range-labels .active.selected::before {
    display: none;
}
.container-calculator {
    display: flex;
    flex-wrap: wrap;
    width: 1530px;
}

.calcul-elem {
    width: 750px;
    height: 162px;
    background: linear-gradient(7.47deg, #483156 0%, #39516e 80.3%);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 27px 42px;
    margin-top: 38px;
}
.text-create {
    font-weight: bold;
    font-size: 16px;
    color: #c7dee1;
    width: 235px;
    margin-left: 0px;
    line-height: 30px;
    text-transform: uppercase;
}

.calcul-elem2 {
    width: 750px;
    height: 343px;
    background: linear-gradient(15.51deg, #483156 0%, #39516e 80.3%);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 27px 131px 0px 53px;
    margin-top: 38px;
}
.list-valuta {
    list-style: none;
    width: 217px;
    float: right;
    margin-top: -25px;
    li {
        display: inline;
        margin-right: 18px;
        line-height: 30px;
        color: #b3c2d9;
        font-size: 16px;
        &:hover {
            border-bottom: 1px solid;
            cursor: pointer;
            color: #c7dee1;
        }
    }
    li:first-child {
        border-bottom: 1px solid;

        color: #c7dee1;
    }
}
.block-kind {
    margin-top: 49px;
}
.hr-dashed {
    margin-left: 21px;
    margin-right: 18px;
}

.kind-elem {
    font-size: 16px;
    line-height: 30px;
    color: #c7dee1;
    margin-bottom: 30px;
    font-weight: normal;
    margin-left: 0px;
    text-align: left;
}
.price-margin {
    margin-left: 2.6px;
}
.price-txt {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;

    text-align: right;
    color: #c7dee1;
}
.btn-see-example {
    margin-top: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #c7dee1;
    svg {
        position: absolute;
        margin-left: 17px;
    }
}
.text-label {
    font-size: 16px;
    line-height: 30px;
    color: #c7dee1;
}
.input-cost {
    width: 80px;
    height: 32px;
    border: none;
    margin: 29px 22px 0px 22px;
    font-size: 16px;
    font-family: Arial;
    color: #43417d;
    padding: 5px;
    box-sizing: border-box;
    background: #b3c2d9;
    border-radius: 4px;
}
.calcul-elem3 {
    box-sizing: border-box;
    width: 1515px;
    height: 206px;
    background: linear-gradient(4.67deg, #483156 0%, #39516e 80.3%);
    border-radius: 4px;
    padding: 27px 42px;
    font-family: Arial;
    margin-top: 29px;
}
.elem3-text {
    font-size: 16px;
    line-height: 30px;

    text-align: center;
    text-transform: uppercase;

    color: #c7dee1;
}
.btn-rad-flex {
    display: flex;
    padding-right: 61px;
    margin-top: 58px;
    margin-bottom: 51px;
}
.btn-calcul {
    margin-top: 40px;
    margin-bottom: 46px;
    margin-left: 60px;
}
.calcul-button {
    display: flex;
    align-items: center;
    height: 75px;
    margin-top: 54px;
}
.big-price {
    background: linear-gradient(12.88deg, #483156 0%, #39516e 80.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 65px;
    line-height: 75px;
}
.online-calculate {
    margin-left: 0px;
}
.br-calcul{
    display: none;
}
@media only screen and (max-height: 1200px) {
    .modal-calculator {
        height: 95%;
    }
}
@media only screen and (max-width: 1888px) {
    .modal-calculator {
        width: 100%;
        height: 100%;
    }
}
@media only screen and (max-width: 1545px) {
    .container-calculator {
        width: 80%;
    }

    .calcul-elem {
        width: 550px;
        height: 162px;
        padding: 27px 42px;
        margin-top: 38px;
    }
    .text-create {
        font-weight: bold;
        font-size: 16px;
        color: #c7dee1;
        width: 235px;
        margin-left: 0px;
    }
    .calcul-elem3 {
        width: 750px;
        height: 360px;

        margin-top: 29px;
    }

    .btn-rad-flex {
        display: flex;
        flex-direction: column;

        width: 60%;
        padding-right: 21px;
        margin-top: 58px;
        margin-bottom: 51px;
    }
}
@media only screen and (max-width: 1400px) {
    .modal-calculator .close-modal-calculator svg {
        width: 29px;
        height: 29px;
    }
}
@media only screen and (max-width: 1200px) {
    .modal-calculator .close-modal-calculator {
        top: 15px;
        right: 25px;
    }

    .modal-calculator .close-modal-calculator svg {
        width: 25px;
        height: 25px;
    }
}
@media only screen and (max-width: 916px) {
    .hr-dashed {
        display: none;
    }
    .list-valuta {
        margin-left: -40px;
        width: 217px;
        float: left;
        margin-top: 5px;
    }
    .text-use {
        font-size: 14px;
        width: 50%;
    }
    .price-txt {
        margin-left: 30px;
    }
    .price-margin1 {
        margin-left: 73px;
    }
    .price-margin {
        margin-left: 55px;
    }
    .price-margin2 {
        margin-left: 126px;
    }
    .big-price {
        font-size: 40px;
        line-height: 55px;
    }
   
}
@media only screen and (max-width: 767px) {
    .btn-calcul {
        height: 60px;
        padding-right: 10px;
        width: 180px;
        font-size: 14px;
        .btn-svg {
            position: absolute;
            margin-top: 2px;
            margin-left: -13px;
            width: 8px;
        }
    }
    .calcul-elem {
        width: 70%;
        height: 162px;
        padding: 27px 42px;
        margin-top: 38px;
    }

    .calcul-elem3 {
        width: 80%;
        height: 360px;

        margin-top: 29px;
    }
    .calcul-elem2 {
        width: 80%;
        height: 343px;
        padding: 27px 11px 0px 53px;
    }
    .text-label {
        font-size: 12px;
        line-height: 30px;
        color: #c7dee1;
        width: 130px;
    }
    .input-cost {
        width: 60px;
        height: 22px;
        border: none;
        margin: 29px 10px 0px 12px;
        font-size: 14px;

        padding: 4px;
    }
  
    .btn-rad-flex {
        padding-right: 11px;
        margin-top: 28px;
        margin-bottom: 21px;
    }
    .range {
        position: relative;
        width: 240px;
        margin-left: 0px;
        margin-top: 25px;
    }
    .range-labels {
        margin: 18px 0;
        padding: 0;
        list-style: none;
        margin-left: -17px;
        width: 330px;
    }
    .arrows-range li {
        font-size: 10px;
    }
    .range-labels li {
        position: relative;
        float: left;
        margin: 18px 20px 0px 0px;
        width: 50.25px;
        text-align: center;
        color: #b3c2d9;
        font-size: 14px;
        cursor: pointer;
    }
    .third-label {
        padding-left: 10px;
    }
    .text-use {
        font-size: 12px;
        width: 70%;
        line-height: 20px;
    }
    .txt-calcul-range {
        font-size: 14px;
         width: 170px;
    }
}

@media only screen and (max-width: 583px) {
    .calcul-elem {
        width: 70%;
        height: 162px;
        padding: 27px 20px;
        margin-top: 38px;
    }
    .text-create {
        font-size: 14px;

        width: 190px;
        margin-left: 0px;
    }
    .range {
        position: relative;
        width: 200px;
        margin-left: 0px;
        margin-top: 25px;
    }
    .range-labels {
        margin: 18px 0;
        padding: 0;
        list-style: none;
        margin-left: -17px;
        width: 300px;
    }
    .arrows-range li {
        font-size: 10px;
    }
    .range-labels li {
        position: relative;
        float: left;
        margin: 18px 8px 0px 0px;
        width: 50.25px;
        text-align: center;
        color: #b3c2d9;
        font-size: 14px;
        cursor: pointer;
    }
    .list-valuta {
        li {
            font-size: 12px;
        }
    }
    .calcul-elem2 {
       padding-left: 20px;   
    }
    .calcul-elem3 {
        padding-left: 20px;   
     }
     .kind-elem {
        font-size: 13px;
        line-height: 30px;
      
    }
    .price-margin {
        margin-left: 2.6px;
    }
    .price-txt {
    
        font-size: 16px;
        line-height: 30px;
    }
    .btn-see-example {
     
        font-size: 13px;
    }
    .price-margin1 {
        margin-left: 10px;
    }
    .price-margin {
        margin-left: 10px;
    }
    .price-margin2 {
        margin-left: 10px;
    }
    .input-cost {
        width: 70px;
        height: 26px;
        
        border: none;
        margin: 5px 8px 5px 2px;
        font-size: 14px;
  
    }
   
    .txt-calcul-range {
        font-size: 12px;
        
    }
    .btn-rad-flex {
        padding-right: 1px;
        margin-top: 28px;
        margin-bottom: 21px;
      
    }
    .br-calcul{
        display: block;
    }
    .text-label {
        font-size: 12px;
        line-height: 30px;
        color: #c7dee1;
        width: 70px;
        white-space: wrap;
    }
    .switch {
        width: 260px;

        margin-top: 30px;
    }
    .switch--horizontal label {
        font-size: 13px;
        line-height: 30px;
        display: inline-block;
        margin-left: 1px;
        text-align: center;
        margin-right: 1px;
    }
    .switch--horizontal .toggle-outside {
        left: 72px;
    }
    .modal-calculator .close-modal-calculator svg {
        width: 20px;
        height: 20px;
    }
}
@media only screen and (max-width: 470px) {
    .big-price {
        font-size: 30px;
        line-height: 35px;
     
    }
    .online-calculate{
        font-size: 16px;
    }
    .calcul-button {
        display: flex;
        align-items: center;
      flex-direction: column;
    }
    .btn-calcul {
   
        margin-left: 0px;
    }
    .txt-calcul-range {
        font-size: 12px;
        width: 130px;
        margin-left: -30px;
    }
    .music-phone{
        height: 400px;
    }
    }
    @media only screen and (max-width: 420px) {
        .calcul-elem {
            width: 70%;
            height: 162px;
            padding: 20px 20px;
            margin-top: 20px;
        }
        .text-create {
            font-size: 12px;
            width: 170px;
            
        }
        .range {
            position: relative;
            width: 150px;
            margin-left: 0px;
            margin-top: 25px;
        }
        .range-labels {
            margin: 18px 0;
            padding: 0;
            list-style: none;
            margin-left: -17px;
            width: 200px;
        }
      
        .range-labels li {
            position: relative;
            float: left;
            margin: 18px 3px 0px 0px;
            width: 40.25px;
            text-align: center;
            color: #b3c2d9;
            font-size: 14px;
            cursor: pointer;
        }
        .switch {
            width: 190px;
            margin-top: 30px;
        }
        .switch--horizontal label {
            font-size: 11px;
            line-height: 30px;
            display: inline-block;
            margin-left: 0px;
            text-align: center;
            margin-right: 1px;
        }
        .switch--horizontal input {
            height: 3rem;
            width: 2rem;
            left: 2rem;
            margin: 0;
        }
        .switch--horizontal label:last-of-type {
            margin-left: 64px;
        }
        .switch--horizontal .toggle-outside {
            width: 50px;
            height: 25px;
            left: 55px;
        }
        .switch--horizontal .toggle-inside {
            width: 20px;
            height: 20px;
        }
        .switch--horizontal input:checked ~ .toggle-outside .toggle-inside {
            left: 0.25rem;
        }
        .switch--horizontal input ~ input:checked ~ .toggle-outside .toggle-inside {
            left: 29px;
        }
        .kind-elem {
            font-size: 11px;
            line-height: 20px;
          
        }
        .price-txt {
            font-size: 12px;
            line-height: 20px;
        }
        .btn-see-example {
     
            font-size: 12px;
        }
    }
.cost-forme {
    width: 578px;
    float: left;
    z-index: 0;
    margin-left: 65px;
    h4 {
        padding-top: 84px;
        text-align: center;
        font-family: Arial;
        font-weight: bold;
        font-size: 29px;
        line-height: 39px;
        padding-bottom: 19px;
        text-transform: uppercase;
        color: #c7dee1;
    }
}

.forn-request {
    input::placeholder {
        font-family: Arial;
        font-weight: bold;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.05em;
        color: #c7dee1;
        text-align: start;
    }
    input {
        width: 578px;
        margin-top: 25px;
        height: 70px;
        background: #5a6192;
        border-radius: 4px;
        border: none;
        padding-left: 17px;
        font-family: Arial;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.05em;
        color: #c7dee1;
    }
    .input-message {
        width: 561px;
        height: 141px;
        max-height: 141px;
        max-width: 561px;
        min-height: 141px;
        min-width: 561px;
        border-radius: 4px;
    }
    textarea::placeholder {
        font-family: Arial;
        font-weight: bold;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.05em;
        color: #c7dee1;
        text-align: start;
    }
    textarea {
        padding-left: 17px;
        font-family: Arial;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.05em;
        color: #c7dee1;
        background: #5a6192;
        margin-top: 25px;
        border: none;
        padding-top: 17px;
        padding-right: 17px;
    }
}
@media only screen and (max-width: 1870px) {
    .base-box {
        max-width: 70%;
    }
    .base-blocks-flex {
        max-width: 78.5%;

        .flex-items {
            max-width: 48%;
            h4 {
                width: 70%;
                margin-left: 40px;
            }
            .base-btn {
                margin-left: 30px;
            }
            p {
                width: 90%;
                margin-left: 40px;
                height: 60px;
            }
            .for-position {
                margin-top: 19px;
            }
        }
    }

    .our-scratches {
        max-width: 77%;
    }
    .scratches-icons {
        width: 80%;
        padding-left: 74px;
        padding-right: 74px;
        svg {
            width: 196px;
            height: 243px;
            margin-left: 10px;
            margin-right: 10px;
            &:hover {
                width: 176px;
                height: 223px;
                margin: 6px 24px 14px 16px;
            }
        }
    }
}
@media only screen and (max-width: 1761px) {
    .know-cost {
        width: 100%;
        .wave-img {
            position: absolute;
            width: 100%;
        }
    }

    .cost-forme {
        margin-left: 165px;
    }
    .base-box {
        p {
            width: 77%;
        }
    }
}
@media only screen and (max-width: 1696px) {
    .base-blocks-flex {
        max-width: 78.5%;
        .flex-items {
            max-width: 48%;
            h4 {
                width: 70%;
                margin-left: 30px;
            }
            .base-btn {
                margin-left: 30px;
            }
        }
    }
}

@media only screen and (max-width: 1462px) {
    .strengths-items {
        padding-left: 120px;
        padding-right: 120px;
        div {
            display: inline;
            margin-right: 30px;
            font-weight: bold;
            font-size: 22px;
            line-height: 29px;
        }
    }
    .strengths-sila-fm {
        padding-left: 140px;
    }
    .strong-txt {
        padding-left: 140px;
    }
    .part-txt {
        padding-left: 140px;
    }
    .know-cost {
        h2 {
            font-weight: bold;
            font-size: 50px;
        }
    }
    .cost-img {
        width: 424px;
        margin-right: 144px;

        img {
            margin-left: 50px;
        }
    }

    .cost-forme {
        margin-left: 95px;
    }

    .forn-request {
        input {
            width: 508px;
        }
        .input-message {
            width: 408px;
            height: 141px;
            max-height: 100px;
            max-width: 508px;
            min-height: 141px;
            min-width: 495px;
        }
    }
    .btn-send {
        margin-top: 30px;
        margin-left: 54px;
    }
}
@media only screen and (max-width: 1402px) {
    .scratches-icons {
        width: 90%;
        padding-left: 4px;
        padding-right: 14px;
        svg {
            width: 196px;
            height: 243px;
            margin-left: 10px;
            margin-right: 5px;
            &:hover {
                width: 176px;
                height: 223px;
                margin: 6px 18px 14px 17px;
            }
        }
    }
    .know-cost {
        h2 {
            font-size: 50px;
            line-height: 50px;
        }
        p {
            font-size: 20px;
            line-height: 20px;
        }
    }
    .cost-img {
        p {
            margin-left: 20px;
            font-size: 27px;
            line-height: 39px;
        }
    }
    .cost-forme {
        width: 37%;
        h4 {
            font-size: 27px;
        }
    }
    .base-box {
        h4 {
            font-size: 28px;
            line-height: 30px;
        }
        p {
            font-size: 18px;
        }
    }
    .base-blocks-flex {
        .flex-items {
            h4 {
                font-size: 26px;
                line-height: 30px;
            }

            p {
                font-size: 16px;
            }
        }
    }
}
@media only screen and (max-width: 1350px) {
    .forn-request {
        input {
            width: 450px;
        }
        .input-message {
            width: 408px;
            height: 141px;
            max-height: 100px;
            max-width: 435px;
            min-height: 141px;
            min-width: 435px;
        }
    }
    .btn-send {
        margin-top: 30px;
        margin-left: 26px;
    }
    .cost-forme {
        h4 {
            text-align: left;
            margin-left: 77px;
        }
    }
    .know-cost {
        h2 {
            font-size: 50px;
        }
    }
    .cost-img {
        width: 424px;
        margin-right: 64px;

        img {
            margin-left: 50px;
        }
    }
}
@media only screen and (max-width: 1257px) {
    .strengths-items {
        margin-top: 410px;
        div {
            margin-right: 25px;
            font-size: 20px;
        }
    }
    .our-scratches {
        h5 {
            font-size: 24px;
            line-height: 26px;
        }
    }
    .base-blocks-flex {
        max-width: 78.5%;
        .flex-items {
            max-width: 48%;
            h4 {
                width: 70%;
                font-size: 22px;
                margin-left: 30px;
                line-height: 26px;
            }
            p {
                font-size: 16px;
                width: 70%;
                line-height: 20px;
                margin-left: 30px;
            }
            .base-btn {
                margin-left: 30px;
            }
        }
    }
    .base-box {
        padding: 69px 40px 120px 40px;
        h4 {
            width: 70%;
            font-size: 22px;
            line-height: 26px;
        }
        p {
            font-size: 16px;
            line-height: 26px;
        }
        svg {
            margin-right: 0px;
        }
    }
    .scratches-icons {
        svg {
            width: 176px;
            height: 223px;
            &:hover {
                width: 156px;
                height: 203px;
                margin: 6px 18px 14px 17px;
            }
        }
    }
    .know-cost {
        h2 {
            width: 80%;
        }
        .txt-we-connect {
            width: 70%;
        }
    }
}
@media only screen and (max-width: 1155px) {
    .strengths-items {
        margin-top: 400px;
        div {
            margin-right: 20px;
            margin-left: 20px;
            font-size: 16px;
        }
    }
    .strong-txt {
        font-size: 50px;
        line-height: 69px;
    }
    .part-txt {
        font-size: 55px;
        line-height: 75px;
    }

    .know-cost {
        h2 {
            font-weight: bold;
            font-size: 45px;
        }
    }
    .scratches-icons {
        svg {
            width: 156px;
            height: 203px;
            &:hover {
                width: 136px;
                height: 183px;
                margin: 6px 18px 14px 17px;
            }
        }
    }
    .our-scratches {
        p {
            font-size: 16px;
        }
    }
}
@media only screen and (max-width: 1090px) {
    .cost-box {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .cost-img {
        width: 365px;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        p {
            margin-left: 30px;
        }
        img {
            margin-left: 60px;
        }
    }
    .cost-btn-open {
        margin-left: 0px;
        margin-bottom: 40px;
    }
    .cost-forme {
        float: none;
        margin-right: 0px;
        width: 525px;
    }
    .btn-send {
        margin-top: 30px;
        margin-left: 26px;
    }
    .strengths {
        margin-top: 340px;
    }
}
@media only screen and (max-width: 1001px) {
    .scratches-icons {
        svg {
            width: 136px;
            height: 183px;
            &:hover {
                width: 116px;
                height: 163px;
                margin: 6px 18px 14px 17px;
            }
        }
    }
    .know-cost {
        h2 {
            font-weight: bold;
            font-size: 40px;
            letter-spacing: 0.02em;
        }
        .txt-we-connect {
            width: 60%;
            font-size: 22px;
        }
    }
    .overlayy {
        svg {
            display: none;
        }
    }
}

@media only screen and (max-width: 972px) {
    .base-blocks-flex {
        width: 70%;
        padding-left: 1%;
        .flex-items {
            justify-content: center;
            flex-direction: column;
            margin-left: 0px;
            padding: 54px 0px 111px 0px;
            h4 {
                padding-right: 100px;
                font-size: 20px;
                line-height: 34px;
                color: #404263;
            }
            p {
                padding-top: 0px;
            }
        }
    }
    .our-scratches {
        h5 {
            font-size: 20px;
            line-height: 26px;
        }
    }
    .base-btn {
        font-size: 16px;
        width: 180px;
        height: 50px;
        margin-top: 25px;
    }

    .base-box {
        width: 60%;
        h4 {
            font-size: 22px;
            width: 90%;
        }
        p {
            font-size: 16px;
        }
    }
}
@media only screen and (max-width: 965px) {
    .base-blocks-flex {
        width: 70%;
        padding-left: 1%;
        .flex-items {
            padding: 54px 0px 111px 0px;
            h4 {
                height: 80px;
                padding-right: 50px;
                font-size: 18px;
                line-height: 24px;
            }
            p {
                padding-right: 50px;
                font-size: 15px;
                height: 70px;
            }
        }
    }
    .base-box {
        h4 {
            font-size: 18px;
            width: 90%;
        }
        p {
            font-size: 15px;
        }
    }
    .strengths-items {
        flex-direction: column;
        width: 40%;
        margin-top: 140px;
        div {
            line-height: 21px;
            font-size: 13px;
            display: block;
            margin-top: 20px;
        }
    }
}
@media only screen and (max-width: 887px) {
    .scratches-icons {
        width: 50%;
        flex-wrap: wrap;
        svg {
            width: 116px;
            height: 163px;
            &:hover {
                width: 96px;
                height: 143px;
                margin: 6px 18px 14px 17px;
            }
        }
    }
    .strengths-items {
        div {
            display: block;
        }
    }
    .our-scratches {
        width: 80%;
        margin-top: 0px;
        h5 {
            font-size: 18px;
            width: 90%;
        }
        p {
            padding-bottom: 22px;
        }
    }
    .know-cost {
        h2 {
            width: 70%;
            font-size: 35px;
            line-height: 39px;
        }
        .txt-we-connect {
            width: 50%;
            font-size: 15px;
            line-height: 24px;
        }
    }
    .cost-box {
        justify-content: center;
        width: 60%;
    }
    .cost-forme {
        h4 {
            margin-left: 0px;
            text-align: center;
            width: 80%;
            font-size: 22px;
        }
    }
    .cost-img {
        p {
            margin-left: 0px;
            text-align: center;
            width: 40%;
            font-size: 22px;
        }
        img {
            margin-left: 28px;
        }
    }

    .cost-btn-open {
        width: 324px;
        height: 70px;
        margin-left: 17px;
        font-size: 20px;
        padding-left: 30px;
    }
    .btn-send {
        margin-top: 30px;
        margin-left: 78px;
    }
    .overlayy {
        padding-top: 63px;
    }
    .strong-txt {
        font-size: 40px;
        line-height: 69px;
    }
    .part-txt {
        font-size: 45px;
        line-height: 45px;
    }
    .strengths {
        margin-top: 300px;
    }
}
@media only screen and (max-width: 771px) {
    .base-blocks-flex {
        width: 70%;
        padding-left: 0%;
        .flex-items {
            justify-content: center;
            flex-direction: column;
            margin-left: 0px;
            padding: 54px 0px 111px 0px;
            h4 {
                font-size: 16px;
            }
            p {
                padding-top: 0px;
                font-size: 13px;
            }
        }
    }
    .base-box {
        h4 {
            font-size: 16px;
            width: 90%;
        }
        p {
            font-size: 13px;
        }
    }
    .base-btn {
        font-size: 13px;
        width: 150px;
        height: 45px;
        margin-top: 25px;
    }
    video {
        display: none;
    }
    .overlayy {
        background: linear-gradient(
                110.57deg,
                rgba(74, 51, 91, 0.8) -10.09%,
                rgba(47, 61, 83, 0.8) 22.66%,
                rgba(17, 48, 62, 0.8) 58.86%,
                rgba(76, 50, 90, 0.8) 98.42%
            ),
            url(../img/fourscreen.png);
    }
    .strengths {
        margin-top: 250px;
    }
}
@media only screen and (max-width: 740px) {
    .cost-img {
        width: 80%;
        p {
            text-align: left;
        }
        img {
            margin-left: 0px;
        }
    }
    .cost-forme {
        width: 90%;
        margin-right: 0px;
        margin-left: 0px;
        h4 {
            width: 100%;
            text-align: left;
        }
    }
    .forn-request {
        input::placeholder {
            font-size: 16px;
        }
        input {
            width: 378px;
            margin-top: 25px;
            height: 70px;

            border-radius: 4px;

            padding-left: 17px;

            font-size: 16px;
            line-height: 36px;
            letter-spacing: 0.05em;
        }
        .input-message {
            width: 461px;
            height: 141px;
            max-height: 141px;
            max-width: 361px;
            min-height: 141px;
            min-width: 361px;
        }
        textarea::placeholder {
            font-size: 16px;
            line-height: 36px;
        }
        textarea {
            font-size: 16px;
        }
    }
    .cost-btn-open {
        width: 224px;
        height: 60px;
        margin-left: 0px;
        font-size: 15px;
        padding-left: 30px;
    }
    .btn-send {
        margin-top: 30px;
        margin-left: 8px;
    }
}
@media only screen and (max-width: 631px) {
    .base-blocks-flex {
        width: 100%;
        padding-left: 0%;
        margin-left: 20%;
        justify-content: center;
        .flex-items {
            flex-wrap: wrap;
            flex-direction: column;
            padding-left: 0%;
            margin-left: 30px;
            padding: 34px 40px 91px 0px;
            h4 {
                font-size: 16px;
            }
            p {
                margin-bottom: 10px;
                padding-top: 0px;
                font-size: 13px;
            }
        }
    }
    .base-box {
        width: 51%;
        margin-left: 20%;
        padding: 34px 0px 81px 20px;
        h4 {
            font-size: 16px;
            width: 90%;
        }
        p {
            padding-top: 10px;
            font-size: 13px;
            margin-bottom: 10px;
            line-height: 18px;
        }

        svg {
            display: none;
        }
        #base-svg1 {
            opacity: 0;
        }
        #base-svg2 {
            opacity: 0;
        }
        #base-svg-ad {
            opacity: 0;
        }
        #base-svg-wk {
            opacity: 0;
        }
    }
    .strengths-sila-fm {
        padding-left: 95px;
        font-size: 12px;
    }
    .strong-txt {
        font-size: 30px;
        padding-left: 95px;
    }
    .part-txt {
        padding-left: 95px;
        font-size: 25px;
    }
    .strengths-items {
        padding-left: 85px;
        div {
            width: 200px;
        }
    }
    .know-cost {
        h2 {
            font-size: 30px;
            line-height: 39px;
        }
        p {
            width: 30%;
            line-height: 26px;
            font-size: 16px;
        }
    }
    .cost-img {
        width: 80%;
        img {
            width: 250px;
        }
        p {
            font-size: 20px;
        }
    }
    .cost-forme {
        font-size: 16px;
        h4 {
            font-size: 20px;
        }
    }
    .forn-request {
        input::placeholder {
            font-size: 12px;
        }
        input {
            width: 228px;
            margin-top: 15px;
            height: 50px;
            font-size: 12px;
            line-height: 32px;
        }
        .input-message {
            width: 212px;
            height: 141px;
            max-height: 141px;
            max-width: 212px;
            min-height: 141px;
            min-width: 212px;
            margin-top: 15px;
        }
        textarea::placeholder {
            font-size: 12px;
            line-height: 32px;
        }
        textarea {
            font-size: 12px;
        }
    }
    .cost-btn-open {
        margin-bottom: 20px;
        margin-top: 540px;
    }
    .btn-send {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 461px) {
    .base-blocks-flex {
        padding-left: 0%;
        .flex-items {
            margin-left: 30px;
            padding: 34px 40px 91px 0px;
            h4 {
                line-height: 18px;
                font-size: 12px;
            }
            p {
                line-height: 14px;
                margin-bottom: 10px;
                padding-top: 0px;
                font-size: 11px;
            }
        }
    }
    .base-btn {
        font-size: 12px;
        line-height: 18px;
        width: 100px;
        height: 55px;
        margin-top: 25px;
    }
    .base-box {
        width: 36.5%;
        margin-left: 27%;
        padding: 34px 20px 101px 20px;
        h4 {
            font-size: 12px;
            width: 90%;
            line-height: 18px;
        }
        p {
            line-height: 14px;
            padding-top: 30px;
            font-size: 11px;
        }
    }
    .know-cost {
        h2 {
            font-size: 22px;
            line-height: 30px;
        }
        .txt-we-connect {
            width: 40%;
            line-height: 20px;
            font-size: 14px;
        }
    }
    .cost-img {
        img {
            width: 200px;
        }
    }
}
@media only screen and (max-width: 390px) {
    .base-box {
        padding: 34px 20px 101px 20px;
        p {
            width: 100px;
        }
    }
    .strengths-items {
        padding-left: 85px;
        div {
            width: 150px;
        }
    }
    .know-cost {
        h2 {
            font-size: 17px;
            line-height: 24px;
        }
        .txt-we-connect {
            width: 40%;
            line-height: 16px;
            font-size: 12px;
        }
    }
    .forn-request {
        width: 80%;
        input::placeholder {
            font-size: 11px;
        }
        input {
            width: 170px;
            margin-top: 10px;
            height: 40px;
            font-size: 12px;
            line-height: 32px;
        }
        .input-message {
            width: 160px;
            height: 111px;
            max-height: 111px;
            max-width: 160px;
            min-height: 111px;
            min-width: 160px;
            margin-top: 10px;
        }
        textarea::placeholder {
            font-size: 11px;
            line-height: 16px;
        }
        textarea {
            font-size: 12px;
        }
    }
    .cost-btn-open {
        width: 125px;
        height: 45px;
        padding-left: 0px;
        font-size: 12px;
        margin-bottom: 20px;
        margin-top: 470px;
        margin-left: 35px;

        svg {
            width: 6px;
            position: absolute;
            margin-top: 2px;
            margin-left: 10px;
        }
    }
    .btn-send {
        margin-top: 30px;
    }
    .cost-forme {
        margin-top: -50px;
        h4 {
            margin-left: 10px;
            text-align: center;
            font-size: 14px;
        }
    }
    .cost-img {
        margin-top: -50px;
        p {
            text-align: center;
            font-size: 14px;
            width: 200px;
        }
        img {
            width: 160px;
            margin-left: 20px;
        }
    }
}

@media screen and (min-width: 1871px) {
    .flex-items {
        .for-position {
            margin-left: 117px;
        }
        .for-position-down {
            margin-left: 117px;
        }
    }
}
