.box-thanks-page{
max-width: 1530px;
height: 449px;
background: linear-gradient(121.66deg, #4A335B -10.09%, #2F3D53 22.66%, #11303E 58.86%, #4C325A 98.42%);
border-radius: 4px;
box-sizing: border-box;
padding: 54px 42px;
 
}
.thank-page{
    padding-top: 304px;
}
.svg-thanks{
    position: absolute;
     margin-left: 860px;
     margin-top: -190px;
}
.svg-error{
    position: absolute;
    margin-left: 820px;
    margin-top: -199px;
}
.text-thank-copy{
    width: 828px;
}
.text-thank-blue{
    width: 828px;
    margin-top: -20px;
}
.txt-gmail{
    font-weight: bold;
    text-decoration: underline;
}
.btn-go-back{
    margin-top: 24px;
    margin-bottom: 0px;
}
@media only screen and (max-width: 1694px) {
    .box-thanks-page{
        max-width: 90%;
     
         
        }
        .svg-error{
           width: 500px;
           margin-left: 53%;
           margin-top: -190px;
        }
        .svg-thanks{
      
             margin-left: 45%;
             margin-top: -190px;
        }
        .text-thank-copy{
            width: 60%;
        }
        .text-thank-blue{
            margin-top: -20px;
            width: 60%;
        }
}
@media only screen and (max-width: 1465px) {
.svg-error{
    width: 400px;
    margin-left: 50%;
    margin-top: -190px;
 }}
@media only screen and (max-width: 1379px) {
    .box-thanks-page{
        height: 500px;
     
        }
        .svg-thanks{
      
            margin-left: 40%;
           
       }
}
@media only screen and (max-width: 1198px) { 
     .svg-thanks{
      
    margin-left: 35%;
   
}
}
@media only screen and (max-width: 1083px) { 
    .svg-thanks{
     
 display: none;
  
}
.svg-error{
    display: none;
 }
.text-thank-copy{
    width: 80%;
}
.text-thank-blue{
    margin-top: -20px;
    width: 80%;
}
}
@media only screen and (max-width: 843px) { 
  
.text-thank-copy{
 
    font-size: 18px;
}
.text-thank-blue{
  
    font-size: 18px;
}
.thank-you{
    font-size: 26px;
}
}
@media only screen and (max-width: 585px) { 
  
    .text-thank-copy{
     
        font-size: 16px;
    }
    .text-thank-blue{
      
        font-size: 16px;
    }
    .thank-you{
        font-size: 26px;
    }
    }
    @media only screen and (max-width: 527px) { 
        .box-thanks-page{
            height: 560px;
         
             
            }
        .text-thank-copy{
            width: 90%;
            font-size: 14px;
            line-height: 22px;
        }
        .text-thank-blue{
            width: 90%;
            font-size: 14px;
            line-height: 22px;
        }
        .thank-you{
            font-size: 26px;
        }
        .btn-go-back{
          width: 210px;
          height: 90px;
          line-height: 28px;
          z-index: 0;
        }
        .thank-page{
            padding-top: 204px;
        }
        }
        @media only screen and (max-width: 519px) { 
            .thank-you{
                line-height: 36px;
            }
        }