.bg-sound-page {
    padding-left: 195px;
    height: 380px;
    background: linear-gradient(119.3deg, rgba(74, 51, 91, 0.6) -10.09%, rgba(47, 61, 83, 0.6) 22.66%, rgba(17, 48, 62, 0.6) 58.86%, rgba(76, 50, 90, 0.6) 98.42%), url(../img-audio/bg-voice.png) no-repeat;
    backdrop-filter: blur(2px);
    background-size: cover;
}
.background-fix{
    height: 60px;
}
.voice-film {
    width: 790px;
    margin-left: 0px;
    text-transform: uppercase;
}
.page-voice {
    display: flex;
    flex-wrap: wrap;
    width: 1470px;
    margin-top: -70px;
    div{
        margin-top: 30px;
        margin-left: 30px;
    }
}
 
.bnt-order-sound {
    width: 120px;
    height: 50px;
    font-family: Arial;
    font-weight: bold;
    background: #671627;
    border: 2px solid #711F30;
    box-sizing: border-box;
    border-radius: 4px;
font-size: 16px;
color: #FFFFFF;
margin-left: 120px;
margin-top: 27px;
transition: 0.3s ease;
&:hover{
    cursor: pointer;
    color: #711F30;
    background: #FFFFFF;
    border: 2px solid #671627;
}
}
.daineris{
    background: linear-gradient(128.36deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(47, 61, 83, 0.8) 22.66%, rgba(17, 48, 62, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%),
  url(../img-audio/deineris.jpg) no-repeat;
  
}
.logan{
    background: linear-gradient(128.36deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(47, 61, 83, 0.8) 22.66%, rgba(17, 48, 62, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%),
  url(../img-audio/logan.jpg) no-repeat;
  
}
.jonson{
    background: linear-gradient(128.36deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(47, 61, 83, 0.8) 22.66%, rgba(17, 48, 62, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%),
    url(../img-audio/The-Rock.jpg) no-repeat;
    
}
.forsage{
    background: linear-gradient(128.36deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(47, 61, 83, 0.8) 22.66%, rgba(17, 48, 62, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%),
    url(../img-audio/forsage.jpg) no-repeat;
    
}
.shreck{
    background: linear-gradient(128.36deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(47, 61, 83, 0.8) 22.66%, rgba(17, 48, 62, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%),
    url(../img-audio/shrek.jpg) no-repeat;
    
}
.kit{
    background: linear-gradient(128.36deg, rgba(74, 51, 91, 0.8) -10.09%, rgba(47, 61, 83, 0.8) 22.66%, rgba(17, 48, 62, 0.8) 58.86%, rgba(76, 50, 90, 0.8) 98.42%),
    url(../img-audio/kotvsapogah.jpg) no-repeat;
    
}
 .box-btn-voice{
     margin: 0px;
     padding: 0px;
 }
 .txt-example{
    width: 1400px;
    margin-top: -100px;
 }

 @media only screen and (max-width: 1824px) {
 .bg-sound-page {
    padding-left: 60px;}}
 @media only screen and (max-width: 1608px) {
    .txt-example{
        width: 1120px;
     }
    .page-voice {
        width: 1120px;
        
        div{
            margin-top: 30px;
            margin-left: 30px;
        }
    }
 }
 @media only screen and (max-width: 1599px) {
    .page-voice {
        width: 1120px;
 
        div{
            margin-top: 30px;
            margin-left: 30px;
        }
    }
    .bnt-order-sound {
        width: 120px;
        height: 50px;
 
    font-size: 16px;
 
    margin-left: 80px;}
    .txt-example{
        width: 1000px;
     }
 }
 @media only screen and (max-width: 1339px) {
    
 }
 @media only screen and (max-width: 1237px) {
    .page-voice {
        width: 890px;
 
        div{
            margin-top: 30px;
            margin-left: 30px;
        }
    }
    .txt-example{
        width: 790px;
     }
 }
 @media only screen and (max-width: 1006px) {
    .page-voice {
        width: 88%;
 
        div{
            margin-top: 30px;
            margin-left: 30px;
        }
    }
    .txt-example{
        width: 73%;
     }
 }
 @media only screen and (max-width: 951px) {
    .page-voice {
        width: 580px;
    }
 }
 @media only screen and (max-width: 853px) {
    .voice-film {
        width: 400px;
        font-size: 30px;
  
    }
    .txt-example{
        width: 200px;
        margin-left: 110px;
     }
 }
 @media only screen and (max-width: 668px) {
    .page-voice {
        width: 320px;
    }
 }
 @media only screen and (max-width: 590px) {
    .bg-sound-page {
        padding-left: 20px;
  
    
        
    }
 }
 @media only screen and (max-width: 495px) {
    .voice-film {
        width: 290px;
        font-size: 25px;
        line-height: 29px;
    }
  
 }
 @media only screen and (max-width: 491px) {
 
    .bnt-order-sound {
        width: 110px;
        height: 40px;
      
      font-size: 14px;
      
      margin-left: 65px;}}
 @media only screen and (max-width: 480px) {
    .txt-forexample{
        width: 130px;
        margin-left: 12px;
     }
     .page-voice {
        width: 240px;
    }
 }
