.home-page {
    background: linear-gradient(
            119.38deg,
            rgba(74, 51, 91, 0.8) -10.09%,
            rgba(47, 61, 83, 0.8) 22.66%,
            rgba(17, 48, 62, 0.8) 58.86%,
            rgba(76, 50, 90, 0.8) 98.42%
        ),
        url(../img/bg-contact.png);
      
    backdrop-filter: blur(2px);
    background-repeat: no-repeat;
    height: 631px;
    background-size: cover;
}
#menufixed-pages{
position: absolute;
   
}
.contactpage-sila {
    float: right;
    margin-top: 102px;
}
.active-contacts{
    color: #671627;
    border-top: 2px solid #671627;
    padding-left: 3px;
    padding-right: 3px;
}
.txt-office {
    font-weight: normal;
    width: 653px;
    margin-left: 0px;
    font-size: 22px;
    line-height: 32px;
    margin-top: 21px;
}
.sila-fm-txt {
    padding-top: 197px;
}
.contact-btn {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #c7dee1;
    border: 2px solid #c7dee1;
    width: 424px;
    height: 70px;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease;
    margin-top: 45px;
    &:hover {
        box-shadow: 0 0 18px rgba(21, 7, 54, 0.8);
        background: linear-gradient(
            119.38deg,
            rgba(74, 51, 91, 0.8) -10.09%,
            rgba(47, 61, 83, 0.8) 22.66%,
            rgba(17, 48, 62, 0.8) 58.86%,
            rgba(76, 50, 90, 0.8) 98.42%
        );
    }
    svg {
        margin-left: 15px;
    }
}
.base-box {
padding-bottom: 40px;
   }
.base-speakers{
    margin-top: -20px;
}
 .base-btn{
  z-index: -1;
  opacity: 0;
 }
.elem-svg{
    margin-right: 25px;
    margin-left: 25px;
  
}
.elem-svg1{
    margin-right: 30px;
    margin-left: -34px;
   
}
 .text-contact{
    svg{
        position: absolute;
        padding-right: 20px;
        margin-top: 16px;
        cursor: pointer;
        transition: 0.5s ease;
        &:hover{
            opacity: 0.7;
        }
    }
 }
 .our-team{
     margin-top: 111px;
     height: 449px;
     padding: 161px 198px;
background: #ECF6F8;
border-radius: 4px;
 }
 .txt-our-team{
    background:linear-gradient(11.48deg,#483156 0%,#39516e 80.3%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    font-family: Arial;
  margin-top: 41px;
    font-weight: bold;
    font-size: 29px;
    line-height: 40px;
    width: 1528px;
 }
 .team-element{
    width: 1528px;
 }
 .team-container{
     display: flex;
     margin-top: 74px;
     width: 1528px;
     font-family: Arial;
   
 }
 #change-info1{
     display: none;
 }
 #change-info2{
    display: none;
}
#change-info4{
    display: none;
}
 .box-photo{
     display: flex;
     width: 1010px;
     margin-left: 0px;
     margin-top: 200px;
 }
 .size-photo{
    width: 230px;
    height: 319px;
     margin-right: 30px;
     cursor: pointer;
 }
 .photo-employ1{
    
     background: url(../img/person1.png);
     cursor: pointer;
     transition: 0.3s;
     &:hover{
        height: 519px;
        margin-top: -200px;
        background: url(../img/person1ch.png);
     }
 }
 .photo-employ2{
    
     background: url(../img/person2.png);
     cursor: pointer;
     transition: 0.3s;
     &:hover{
        height: 519px;
        margin-top: -200px;
        background: url(../img/person2ch.png);
     }
 }
 .photo-employ3{
    width: 230px;
    height: 519px;
     margin-top: -200px;
     background: url(../img/person3ch.png);
     transition: 0.3s;
     cursor: pointer;
   
 }
 .photo-employ4{
     background: url(../img/person4.png);
     cursor: pointer;
     transition: 0.3s;
     &:hover{
        height: 519px;
        margin-top: -200px;
        background: url(../img/person4ch.png);
     }
 }
 .name-person{
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    text-transform: uppercase;
    background:linear-gradient(11.48deg,#483156 0%,#39516e 80.3%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
 }
 .work-person{
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
   margin-top: 7px;
   margin-bottom: 25px;
    color: #454545;
     
 }
 .svg-contacts{
     margin-left: -100px;
     svg{
        cursor: pointer;
        transition: 0.3s  ;
        &:hover{
            opacity: 0.6;
        }
     }
    
 }
 .contact-person{
margin-left: 10px;
margin-top: 28px;
 }
 .info-person{
     margin-top: 54px;
     height: 240px;
     font-size: 18px;
line-height: 30px;
color: #454545;
 }
 .btn-prev-next{
     margin-top: 43px;
     svg{
         margin-right: 10px;
         cursor: pointer;
         transition: 0.3s  ;
         &:hover{
             opacity: 0.6;
         }
     }
 }
 .know-cost {
     margin-top: 300px;
 }
@media only screen and (max-width: 1825px) {
    .home-page {
        background-position-x: center;
    }
    .txt-our-team{
 
      margin-top: 41px;
       
        font-size: 29px;
        line-height: 40px;
        width: 1030px;
     }
     .team-element{
        width: 1030px;
     }
 
     .team-container{
      
         width: 1030px;
      flex-direction: column;
       
     }
     .know-cost {
        margin-top: 100px;
    }
     .box-photo{
        
         width: 90%;
     }
     .size-photo{
        width: 210px;
        height: 319px;
         margin-right: 20px;
         cursor: pointer;
     }
     .photo-employ3{
        width: 210px;
        height: 519px;
 
     }
 .name-person{
     margin-top: 50px;
 }
     .work-person{
     
        font-size: 18px;
        line-height: 30px;
     
         
     }
     .our-team{
        margin-top: 111px;
        height: 1010px;
        padding: 100px 98px 100px 190px;
   
    }
     .info-person{
         margin-top: 54px;
         font-size: 16px;
         height: 100%;
    line-height: 28px;
    color: #454545;
    width: 90%;
    margin-left: 0px;
     }
}
@media only screen and (max-width: 1256px) {
    .txt-our-team{
 
        margin-top: 41px;
         
          font-size: 29px;
          line-height: 40px;
          width: 90%;
       }
       .team-element{
        width: 90%;
       }
   
       .team-container{
        width: 90%;
        flex-direction: column;
         
       }
       .box-photo{
          
           width: 880px;
       }
       .size-photo{
          width: 200px;
          height: 300px;
           margin-right: 20px;
           cursor: pointer;
       }
       .photo-employ3{
          width: 200px;
          height: 500px;
   
       }
   .name-person{
       margin-top: 50px;
   }
       .work-person{
       
          font-size: 18px;
          line-height: 30px;
       
           
       }
       .our-team{
          margin-top: 111px;
          height: 1010px;
          padding: 100px 50px 100px 100px;
     
      }
       .info-person{
           margin-top: 54px;
           font-size: 16px;
      line-height: 28px;
      color: #454545;
      width: 90%;
      margin-left: 0px;
       }
}
@media only screen and (max-width: 1029px) {
    .box-photo{
        width: 680px;
    }
    .size-photo{
       width: 160px;
       height: 260px;
        margin-right: 20px;
        cursor: pointer;
        background-size: cover;
        background-position-x: center;
    }
    .photo-employ3{
        width: 160px;
       height: 460px;

    }
}
@media only screen and (max-width: 970px) {
    .txt-office {
        font-size: 19px;
        width: 453px;
    }
    .text-contact{
        svg{
          width: 16px;
        }
     }
     .elem-svg1{
        margin-right: 16px;
        margin-left: 2px;
       
    }
    .elem-svg{
        margin-right: 16px;
        margin-left: 16px;
      
    }
}
@media only screen and (max-width: 829px) {
    .box-photo{
        width:70%;
        flex-direction: column;
        margin-top: 10px;
    }
    .size-photo{
        width: 220px;
        height: 260px;
         margin-right: 20px;
         cursor: pointer;
         background-size: cover;
         background-position-x: center;
         margin-top: 10px;
     }
    .photo-employ3{
        width: 220px;
        height: 260px;
margin-top: 10px;
background: url(../img/person3.png);
background-position-x: center;
    }
    .our-team{
      
        height: 1720px;
       
   
    }
    .txt-our-team{

        font-size: 22px;
 
     }
}
@media only screen and (max-width: 659px) {
    .contactpage-sila {
        display: none;
    }
    .contact-btn {
        font-size: 16px;
        line-height: 20px;

        width: 294px;
        height: 60px;
    }
    .txt-office {
        line-height: 20px;
        font-size: 14px;
        width: 300px;
    }
    .name-person{
        margin-top: 50px;
    }
        .work-person{
        
           font-size: 18px;
           line-height: 30px;
        
            
        }
      
        .info-person{
     
       width: 400px;
      
        }
        .txt-our-team{

              font-size: 20px;
       
           }
}

@media only screen and (max-width: 631px) {
    .text-contact{
        svg{
        display: inline-block;
        width: 10px;
        }
     }
     .elem-svg1{
        margin-right: 10px;
        margin-left: 2px;
       
    }
    .elem-svg{
        margin-right: 10px;
        margin-left: 10px;
      
    }
}

@media only screen and (max-width: 624px) {
.our-team{
      
    height: 1780px;
   

}    .info-person{
     
    width: 300px;
    line-height: 22px;
   font-size: 14px;
     }
     .txt-our-team{

        font-size: 18px;
 
     }
    }
    @media only screen and (max-width: 431px) {
        .name-person{
   
            font-size: 15px;
        }
            .work-person{
            
               font-size: 15px;
               line-height: 22px;   
            }  
            .info-person{
                width: 240px;
                line-height: 20px;
               font-size: 12px;
                 }
               
    }
    @media only screen and (max-width: 366px) {
        .info-person{
            width: 180px;
            line-height: 18px;
           font-size: 12px;
           margin-top: 20px;
             }  
             .size-photo{
                width: 200px;
                height: 250px;
                 margin-right: 20px;
              
                 margin-top: 10px;
             }
            .photo-employ3{
                width: 200px;
                height: 250px;
        margin-top: 10px;
        background: url(../img/person3.png);
        background-position-x: center;
        
            }
            .box-photo{
                width:50%;
            
            }
    }
@media only screen and (max-width: 356px) {
    .contact-btn {
        font-size: 14px;
        line-height: 20px;

        width: 234px;
        height: 50px;
        svg{
        height: 11px;
        margin-left: 10px;
        }
    } 
    .txt-our-team{

        font-size: 16px;
 
     }
}